@using Microsoft.AspNet.Identity
@model Limbs.Web.ViewModels.AmbassadorPanelViewModel
@using Limbs.Web.Models

@{
    ViewBag.Title = "Ambassador Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <article id="panel_embajadores">
        <h1>Panel de control</h1>
        <div id="estadistica_emb">
            <div>
                <p>Entregaste</p>
                <h2>@Model.Stats.HandledOrders</h2>
                <p>Manos</p>
            </div>
            <div>
                <p>Tenés</p>
                <h2>@Model.Stats.PendingOrders</h2>
                <p>Pedidos</p>
            </div>
        </div>
        <div id="paneles_embajador">
            @if (Model.PendingToAssignOrders.Count > 0)
            {
                <article class="panel_emb">
                    <h2>Pedidos entrantes:</h2>
                    <table class="tabla_emb">
                        <tr>
                            <td>Nombre</td>
                            <td>Fecha de solicitud</td>
                            <td>Número de pedido</td>
                            <td>Acciones</td>
                        </tr>
                        @foreach (var order in Model.PendingToAssignOrders)
                        {
                            <tr>
                                <td>@order.OrderRequestor.ResponsableName</td>
                                <td>@order.Date.ToString("dd/MM/yyyy")</td>
                                <td>#@order.Id</td>
                                <td>@Html.ActionLink("Aceptar", "AssignOrder", "Ambassador", new { id = order.Id, accion = "aceptar" }, null) | 
                                @Html.ActionLink("Rechazar", "AssignOrder", "Ambassador", new { id = order.Id, accion = "rechazar" }, null)</td>
                            </tr>
                        }
                    </table>
                </article>
            }
            

            <article class="panel_emb">
                <h2>Tus pedidos:</h2>
                <table class="tabla_emb">
                    <tr>
                        <td>Nombre</td>
                        <td>Fecha de solicitud</td>
                        <td>Número de pedido</td>
                        <td>Estado</td>
                        <td>Acciones</td>
                    </tr>
                    @foreach (var order in Model.PendingOrders)
                    {
                        <tr>
                            <td>@order.OrderRequestor.ResponsableName</td>
                            <td>@order.Date.ToString("dd/MM/yyyy")</td>
                            <td>#@order.Id</td>
                            <td>@Limbs.Web.Helpers.Enumerations.GetEnumDescription(order.Status)</td>
                            <td>
                                @if (order.Status == Limbs.Web.Models.OrderStatus.Pending)
                                {
                                    @Html.ActionLink("Ya lo imprimí", "UpdateOrder", "Ambassador", new { orderid = order.Id, status = Limbs.Web.Models.OrderStatus.Ready }, null)
                                }
                                else if (order.Status == Limbs.Web.Models.OrderStatus.Ready)
                                {
                                    @Html.ActionLink("Ya lo entregué", "UpdateOrder", "Ambassador", new { orderid = order.Id, status = Limbs.Web.Models.OrderStatus.Delivered }, null)
                                }
                            </td>
                        </tr>
                    }
                </table>
            </article>


            @if (Model.DeliveredOrders.Count > 0)
            {
                <article id="terminadas" class="panel_emb">
                    <h2>Terminadas:</h2>
                    <table class="tabla_emb">
                        <tr>
                            <td>Nombre</td>
                            <td>Fecha de solicitud</td>
                            <td>Número de pedido</td>
                            <td>Estado</td>
                        </tr>
                        @foreach (var order in Model.DeliveredOrders)
                        {
                            <tr>
                                <td>@order.OrderRequestor.ResponsableName</td>
                                <td>@order.Date.ToString("dd/MM/yyyy")</td>
                                <td>#@order.Id</td>
                                <td>@Limbs.Web.Helpers.Enumerations.GetEnumDescription(order.Status)</td>
                            </tr>
                        }
                    </table>
                </article>
            }

        </div>
    </article>
