@using System.Configuration
@using Limbs.Web.Entities.Models
@model AmbassadorModel
@{
    var isEdit = Model != null && Model?.Id != 0;
    var minYear = AmbassadorModel.MinYear;
    bool termsAndConditions = ViewBag.TermsAndConditions != null && (bool)ViewBag.TermsAndConditions;

    ViewBag.Title = isEdit ? "Editar datos" : "Registro";
}

@section scripts{
    <script type="text/javascript">
        $("#@Html.IdFor(model => model.Birth)").datepicker(
            {
                minDate: new Date(1900, 1, 1),
                maxDate: "-@(minYear)Y",
                dateFormat: "yy-mm-dd",//ISO 8601
                changeYear: true,
                changeMonth: true,
                yearRange: "-110:-@(minYear)"
            }
        );
    </script>
    @if (!isEdit)
    {
        <script src="~/Scripts/register.js"></script>
    }
}

@section styles
{
    <style>
        .cont-wr {
            max-width: initial;
            padding: 0px;
        }

        .min-full {
            background-color: white;
        }
    </style>
}

<div id="cont" class="min_full">
    <div id="registro">
        @using (Html.BeginForm("Create", "Ambassador", FormMethod.Post, new { @class = "form" }))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.Email)
            @Html.HiddenFor(x => x.UserId)
            @Html.AntiForgeryToken()
            <h2 class="f-titulo">Tus datos</h2>
            <div class="f-seccion">
                <div class="f-campo-mitad">
                    @Html.EditorFor(model => model.AmbassadorName, new { htmlAttributes = new { @class = "f-campo", placeholder = "Nombre" } })
                    @Html.EditorFor(model => model.AmbassadorLastName, new { htmlAttributes = new { @class = "f-campo", placeholder = "Apellido" } })
                </div>
                @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "f-campo", placeholder = "DNI o Pasaporte" } })
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "f-campo", placeholder = "Teléfono" } })
                <label class="f-label">Fecha de nacimiento</label>
                @Html.EditorFor(model => model.Birth, new { htmlAttributes = new { @class = "f-campo", type = "text", placeholder = DateTime.UtcNow.AddYears(-18).ToString("yyyy-MM-dd") } })
                <label class="f-label">Sexo</label>
                @Html.EditorFor(m => m.Gender, new { htmlAttributes = new { @class = "f-campo f-post-l" } })
                <label class="f-label">Email Alternativo</label>
                <label class="f-label" style="font-style: italic; font-size: 12px;">Todo nuestro contacto será vía mail, si hay otro mail que uses escribilo acá para mantenerte informado </label>
                @Html.EditorFor(model => model.AlternativeEmail, new { htmlAttributes = new { @class = "f-campo", placeholder = "Email Alternativo" } })

                @Html.Partial("_Address", Model)
            </div>
            <div>
                @if (!isEdit)
                {
                    <p style="margin: 20px;">
                        <label for="termsAndConditions">
                            @Html.CheckBox("termsAndConditions", termsAndConditions, new { id = "termsAndConditions" })
                            acepto los @Html.ActionLink("términos y condiciones", "TermsAndConditions", null, new { target = "_blank" }).
                        </label>
                    </p>
                }
                <p>
                    @Html.ValidationSummary("", new {@class = "text-danger"})
                    <button type="submit" class="bn_blue" name="register">@(isEdit ? "Editar datos" : "Registrarse")</button>
                </p>
            </div>
        }
    </div>
</div>