@using Microsoft.AspNet.Identity
@model Limbs.Web.Models.AmbassadorModel
    
@section scripts{
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj_qLzys5aRCbeG-DREBx7n4ZlKccHd4Y&callback=initMap">
</script>
<script  src="~/Scripts/geo.js"></script>
<script src="~/Scripts/pages/ambassador.js"></script>
<script src="~/Scripts/register.js"></script>
}

<body>
    <div id="cont" class="min_full">
        <div id="registro">
           @using (Html.BeginForm("Create", "Ambassador",
             FormMethod.Post, new { @class = "form" }))
           {
                <h2 class="f-titulo">Tus datos</h2>
                <div class="f-seccion">
                    <div class="f-campo-mitad">
                        @Html.EditorFor(model => model.AmbassadorName, new { htmlAttributes = new { @class = "f-campo", placeholder = "Nombre" }})
                        @Html.EditorFor(model => model.AmbassadorLastName, new { htmlAttributes = new { @class = "f-campo", placeholder = "Apellido" } })
                    </div>
                    @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "f-campo", placeholder = "DNI o Pasaporte" } })
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "f-campo", placeholder = "Teléfono" } })
                    <label class="f-label">Fecha de nacimiento</label>

                    @Html.EditorFor(model => model.Birth, new { htmlAttributes = new { @class = "f-campo", type = "date", placeholder = "2017-05-11" } })
                    <label class="f-label">Sexo</label>
                    @Html.DropDownListFor(m => m.Gender, Limbs.Web.Models.AmbassadorModel.GetGenderSelect(), new { @class = "f-campo f-post-l" })
                    <div class="f-campo-mitad">
                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "f-campo", placeholder = "País"} })
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "f-campo", placeholder = "Ciudad"} })
                    </div>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "f-campo", placeholder = "Dirección"} })
                    <div id="map"></div>
                </div>
                <button class="blue_button" style="margin-top:10px;" id="checkAddress">Ver dirección</button>
                <button type="submit" class="blue_button" name="register">Registrarse</button>
        }
        </div>

    </div>
</body>
