@using Limbs.Web.Common.Extensions
@using Limbs.Web.Entities.Models
@model Limbs.Web.ViewModels.AmbassadorPanelViewModel
@{
    var o = new OrderModel();
    ViewBag.Title = "Ambassador Panel";
}


    <article id="panel_embajadores">
        <div class="info_panel_embajador">
            <h1>Panel de control</h1>
            <div id="estadistica_emb">
                <div>
                    <p>Entregaste</p>
                    <h2>@Model.Stats.HandledOrders</h2>
                    <p>Manos</p>
                </div>
                <div>
                    <p>Tenés</p>
                    <h2>@Model.Stats.PendingOrders</h2>
                    <p>Pedidos</p>
                </div>
            </div>
        </div>
        <div id="paneles_embajador">
            @if (Model.PendingToAssignOrders.Count > 0)
            {
                <article class="card card-l">
                    <h2>Pedidos entrantes:</h2>
                    <table class="table-items">
                        <tr>
                            <td>@Html.DisplayNameFor(x => o.Id)</td>
                            <td>@Html.DisplayNameFor(x => o.OrderRequestor.ResponsableName)</td>
                            <td>@Html.DisplayNameFor(x => o.Date)</td>
                        </tr>
                        @foreach (var order in Model.PendingToAssignOrders)
                        {
                            <tr onclick="location.href = '@(Url.Action("Details", "Orders", new { id = order.Id }))'">
                                <td>#@order.Id</td>
                                <td>@order.OrderRequestor.ResponsableName</td>
                                <td>@Html.DisplayFor(x => order.Date, "ToFriendlyDateString")</td>
                            </tr>
                        }
                    </table>
                </article>
            }
            

            <article class="card card-l">
                <h2>Tus pedidos:</h2>
                <table class="table-items">
                    <tr>
                        <td>@Html.DisplayNameFor(x => o.Id)</td>
                        <td>@Html.DisplayNameFor(x => o.OrderRequestor.ResponsableName)</td>
                        <td>@Html.DisplayNameFor(x => o.Date)</td>
                        <td>@Html.DisplayNameFor(x => o.Status)</td>
                    </tr>
                    @foreach (var order in Model.PendingOrders)
                    {
                        <tr onclick="location.href = '@(Url.Action("Details", "Orders", new { id = order.Id }))'">
                            <td>#@order.Id</td>
                            <td>@order.OrderRequestor.ResponsableName</td>
                            <td>@Html.DisplayFor(x => order.Date, "ToFriendlyDateString")</td>
                            <td>@order.Status.ToDescription()</td>
                        </tr>
                    }
                </table>
            </article>

            @if (Model.DeliveredOrders.Count > 0)
            {
                <article id="terminadas" class="card card-l">
                    <h2>Terminadas:</h2>
                    <table class="table-items">
                        <tr>
                            <td>@Html.DisplayNameFor(x => o.Id)</td>
                            <td>@Html.DisplayNameFor(x => o.OrderRequestor.ResponsableName)</td>
                            <td>@Html.DisplayNameFor(x => o.Date)</td>
                            <td>@Html.DisplayNameFor(x => o.Status)</td>
                        </tr>
                        @foreach (var order in Model.DeliveredOrders)
                        {
                            <tr onclick="location.href = '@(Url.Action("Details", "Orders", new { id = order.Id }))'">
                                <td>#@order.Id</td>
                                <td>@order.OrderRequestor.ResponsableName</td>
                                <td>@Html.DisplayFor(x => order.Date, "ToFriendlyDateString")</td>
                                <td>@order.Status.ToDescription()</td>
                            </tr>
                        }
                    </table>
                </article>
            }

        </div>
    </article>
