@model Limbs.Web.Models.OrderModel

@{
    ViewBag.Title = "Detalles de pedido";
}

<article id="info_solicitud">
    <h1>Solicitud:</h1>
    <div id="accion_solicitud">

        @if (Model.Status != Limbs.Web.Models.OrderStatus.PreAssigned)
        {
            <a href="#" class="blue_button">Descargar mano</a>
        }

        @if (Model.Status == Limbs.Web.Models.OrderStatus.PreAssigned)
        {
            <a href="@Url.Action("AssignOrder", "Ambassador", new { id = Model.Id, accion = "aceptar" }, null)" class="blue_button">Aceptar orden</a>
            <a href="@Url.Action("AssignOrder", "Ambassador", new { id = Model.Id, accion = "rechazar" }, null)" class="blue_button">Rechazar orden</a>
        }
        else if (Model.Status == Limbs.Web.Models.OrderStatus.Pending)
        {
            <a href="@Url.Action("UpdateOrder", "Ambassador", new { orderid = Model.Id, status = Limbs.Web.Models.OrderStatus.Ready }, null)" class="blue_button">Ya imprimí la mano</a>
        }
        else if (Model.Status == Limbs.Web.Models.OrderStatus.Ready)
        {
            <a href="@Url.Action("UpdateOrder", "Ambassador", new { orderid = Model.Id, status = Limbs.Web.Models.OrderStatus.Delivered }, null)" class="blue_button">Ya entregué la mano</a>
        }

    </div>
    <table class="tabla_datos">
        <tr>
            <td>Estado:</td>
            <td><b>@Limbs.Web.Helpers.Enumerations.GetEnumDescription(Model.Status)</b></td>
        </tr>
        <tr>
            <td>Nombre:</td>
            <td>@Model.OrderRequestor.ResponsableName</td>
        </tr>
        <tr>
            <td>Apellido:</td>
            <td>######</td>
        </tr>
        <tr>
            <td>Nacimiento:</td>
            <td>@Model.OrderRequestor.Birth.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr>
            <td>País:</td>
            <td>######</td>
        </tr>
        <tr>
            <td>Provincia:</td>
            <td>######</td>
        </tr>
        <tr>
            <td>Dirección:</td>
            <td>@Model.OrderRequestor.Address</td>
        </tr>
        <tr>
            <td>Código postal:</td>
            <td>#####</td>
        </tr>
        <tr>
            <td>Teléfono:</td>
            <td>@Model.OrderRequestor.Phone</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@Model.OrderRequestor.Email</td>
        </tr>
    </table>
</article>