@using Microsoft.AspNet.Identity
@model Limbs.Web.Models.AmbassadorModel
<!DOCTYPE html>
<html>
<head>
    <title>Limbs | Atomic Lab</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/Content/estilo01.css">
    <link rel="stylesheet" type="text/css" href="~/Content/estilo02.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='img/favicon.ico' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div id="main_head">
            <a href="index.php"><img id="logo_head" src="img/limbs_white.svg"></a>
            <nav>
                <li><a onclick='cerrarmenu()' href="home.php">Inicio</a></li>
                <li><a onclick='cerrarmenu()' href="pedir_una_mano.php">Pedir una mano</a></li>
                <li><a onclick='cerrarmenu()' href="http://www.limbs.earth/" target="_blank">¿Qué es Limbs?</a></li>
            </nav>
            <img src="img/menu.svg" id="menu_mobil" onclick="abrirmenu()">
        </div>
        <div id="menu_perfil">
            <div id="icono_perfil"></div>
            <ul id="opciones_perfil">
                <li class="perfil_name">Test Ambassador</li>
                <li class="cerrar_sesion">Cerrar sesión</li>
            </ul>
        </div>
    </header>
    <div id="cont" class="min_full">
        <article id="registro">

            <form class="form" method="post" action="#">

                <div class="form-title-row">
                    <h1>¡Registrate a la plataforma Limbs como embajador!</h1>
                </div>

                <div class="header_registro">
                    Datos Personales
                </div><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <span>Nombre completo: </span>
                        @Html.EditorFor(model => model.AmbassadorName, new { htmlAttributes = new { placeholder = "Embajador Heroe" } })
                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <span>Correo electrónico:</span>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "correo@ejemplo.com" } })

                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <span>Fecha de nacimiento del embajador:</span>
                        @Html.EditorFor(model => model.Birth)
                        <input type="date" name="fecha" step="1" min="1990-01-01" max="2017-12-31" value="2017-05-11" />
                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <span>Sexo del embajador:</span>

                        @Html.DropDownList("MyType",
                            EnumHelper.GetSelectList(typeof(Limbs.Web.Models.Gender)))

                        </select>
                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <span>¿Donde vives?</span>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { placeholder = "Avenida Siempre Viva 123" } })
                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <span>Documento de identidad o pasaporte del embajador:</span>
                        @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { placeholder = "D.N.I. del embajador" } })
                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <button type="submit" class="blue_button">Registrarse como embajador</button>
                </div>

            </form>

        </article>

    </div>
    <script src="~/Scripts/menu.js"></script>
</body>
</html>