@using Limbs.Web.Entities.Models
@model OrderModel

<div id="accion_pedido">
    @if (User.IsInRole(AppRoles.Ambassador) || User.IsInRole(AppRoles.Administrator))
    {
        if (Model.Status == OrderStatus.PreAssigned)
        {
            <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.Pending})" class="bn_blue">Aceptar pedido</a>
            <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.NotAssigned})" class="bn_blue">Rechazar pedido</a>
        }
        else if (Model.Status == OrderStatus.Pending)
        {
            if (string.IsNullOrWhiteSpace(Model.FileUrl))
            {
                if (TempData["Generating"] == null)
                {
                    <a href="@Url.Action("ProductGenerate", new { area = "", id = Model.Id })" class="bn_add">Generar archivos</a>
                }
                else
                {
                    <p class="bn_blue">
                        <img src="/Content/img/ajax-loader.gif" />
                        Generando archivos
                    </p>
                    <script type="text/javascript">
                        function updateAction() {
                            $.ajax("@Url.Action("ProductGenerated", new { id = Model.Id, fileurl = Model.FileUrl })", {
                                type: "GET",
                                statusCode: {
                                    201: function () {
                                        updatePartial("Actions");
                                        updatePartial("Header");
                                        alert("Archivos generados!");
                                    },
                                    304: function () {
                                        setTimeout(updateAction, 3000);
                                    }
                                }
                            });
                        }
                        setTimeout(updateAction, 3000);
                        setTimeout(function() {
                            location.reload();
                        }, 300000);
                    </script>
                }
            }
            else
            {
                <a href="@Model.FileUrl" target="_blank" class="bn_download">Descargar archivos</a>
            }
            if (Model.Pieces.Ready())
            {
                <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.Ready})" class="bn_blue">Terminé de imprimir</a>
            }
        }
        else if (Model.Status == OrderStatus.Ready)
        {
            <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.Delivered})" class="bn_blue">Ya entregué el pedido</a>
            <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.ArrangeDelivery})" class="bn_blue">Solicitar envío</a>
        }
        <script type="text/javascript">
            $("#accion_pedido a").click(function(e) {
                e.stopPropagation();
                e.preventDefault();

                $("body").append('<form action="' + e.target.href + '" method="post" id="tempform"></form>');
                $("#tempform").submit();
            });
        </script>
    }
    @if (Model.Status == OrderStatus.Pending || Model.Status == OrderStatus.Ready || Model.Status == OrderStatus.ArrangeDelivery || Model.Status == OrderStatus.Delivered)
    {
        <a href="@Url.Action("Create", "Messages", new {area = "", orderId = Model.Id})" class="bn_blue">Enviar mensaje</a>
    }
    <a href="@Url.Action("Index", "Home")" class="bn_blue">Volver</a>
</div>