@using Limbs.Web.Entities.Models
@model OrderModel

<div id="accion_pedido">
    @if (User.IsInRole(AppRoles.Ambassador) || User.IsInRole(AppRoles.Administrator))
    {
        if (Model.Status == OrderStatus.PreAssigned)
        {
            <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.Pending})" class="bn_blue">Aceptar pedido</a>
            <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.NotAssigned})" class="bn_blue">Rechazar pedido</a>
        }
        else if (Model.Status == OrderStatus.Pending)
        {
            <a href="#" class="bn_blue">Descargar archivos</a>
            if (Model.Pieces.Ready())
            {
                <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.Ready})" class="bn_blue">Terminé de imprimir</a>
            }
        }
        else if (Model.Status == OrderStatus.Ready)
        {
            <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.Delivered})" class="bn_blue">Ya entregué el pedido</a>
            <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.ArrangeDelivery})" class="bn_blue">Solicitar envío</a>
        }
        <script type="text/javascript">
            $("#accion_pedido a").click(function(e) {
                e.stopPropagation();
                e.preventDefault();

                $("body").append('<form action="' + e.target.href + '" method="post" id="tempform"></form>');
                $("#tempform").submit();
            });
        </script>
    }
    @if (Model.Status == OrderStatus.Pending || Model.Status == OrderStatus.Ready || Model.Status == OrderStatus.ArrangeDelivery || Model.Status == OrderStatus.Delivered)
    {
        <a href="@Url.Action("Create", "Messages", new {area = "", orderId = Model.Id})" class="bn_blue">Enviar mensaje</a>
    }
    <a href="@Url.Action("Index", "Home")" class="bn_blue">Volver</a>
</div>