@using Limbs.Web.Entities.Models
@model OrderModel

<div id="accion_pedido">
    @if (User.IsInRole(AppRoles.Ambassador) || User.IsInRole(AppRoles.Administrator))
    {
        if (Model.Status == OrderStatus.NotAssigned)
        {
            <button id="open_modal_btn" class="bn_delete">Informar datos incorrectos</button>
            @Html.ActionLink("Asignar embajador", "AssignAmbassadorAuto", new { area = "Admin", id = Model.Id }, new { @class = "bn_add" })
        }

        if (Model.Status == OrderStatus.PreAssigned)
        {
            <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.Pending})" class="bn_blue">Aceptar pedido</a>
            <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.NotAssigned})" class="bn_blue">Rechazar pedido</a>
        }
        else if (Model.Status == OrderStatus.Pending)
        {
            if (string.IsNullOrWhiteSpace(Model.FileUrl))
            {
                if (TempData["Generating"] == null)
                {
                    <a href="@Url.Action("ProductGenerate", new { area = "", id = Model.Id })" class="bn_add">Generar archivos</a>
                }
                else
                {
                    <p class="bn_blue">
                        <img src="/Content/img/ajax-loader.gif" />
                        Generando archivos
                    </p>
                    <script type="text/javascript">
                        function updateAction() {
                            $.ajax("@Url.Action("ProductGenerated", new { id = Model.Id, fileurl = Model.FileUrl })", {
                                type: "GET",
                                statusCode: {
                                    201: function () {
                                        updatePartial("Actions");
                                        updatePartial("Header");
                                        alert("Archivos generados!");
                                    },
                                    304: function () {
                                        setTimeout(updateAction, 3000);
                                    }
                                }
                            });
                        }
                        setTimeout(updateAction, 3000);
                        setTimeout(function() {
                            location.reload();
                        }, 300000);
                    </script>
                }
            }
            else
            {
                @*<a href="@Model.FileUrl" target="_blank" data-method="get" class="bn_download">Descargar archivos</a>*@
            }
            if (Model.Pieces.Ready())
            {
                <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.Ready})" class="bn_blue">Terminé de imprimir</a>
            }
        }
        else if (Model.Status == OrderStatus.Ready)
        {
            <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.Delivered})" class="bn_blue">Ya entregué el pedido</a>
            <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.ArrangeDelivery})" class="bn_blue">Solicitar envío</a>
        }
        <script type="text/javascript">
            $("#accion_pedido a").not("a[data-method='get']").click(function (e) {
                e.stopPropagation();
                e.preventDefault();

                $("body").append('<form action="' + e.target.href + '" method="post" id="tempform"></form>');
                $("#tempform").submit();
            });
        </script>

        if (User.IsInRole(AppRoles.Administrator)) //Se pone esta condicion porque no esta terminada la funcionabilidad
        {
            if (Model.Status == OrderStatus.Pending || Model.Status == OrderStatus.Ready || Model.Status == OrderStatus.ArrangeDelivery || Model.Status == OrderStatus.Delivered)
            {
                <a href="@Url.Action("ManoMedidas", "Orders", new {area = "", orderId = Model.Id})" class="bn_blue">Medir mano</a>
            }
        }

    }

    @if (Model.Status == OrderStatus.Pending || Model.Status == OrderStatus.Ready || Model.Status == OrderStatus.ArrangeDelivery || Model.Status == OrderStatus.Delivered)
    {
        <a href="@Url.Action("Create", "Messages", new {area = "", orderId = Model.Id})" class="bn_blue">Enviar mensaje</a>
    }

    <a href="@Url.Action("Index", "Home")" class="bn_blue">Volver</a>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="limbs-modal-container">
        <!-- Modal content -->
        <div class="limbs-modal-header">
            <span id="close_modal" class="close">&times;</span>
            <h3>Informar datos incorrectos</h3>
        </div>
        <div class="limbs-modal-content">
            @using (Html.BeginForm("WrongInfo", "Orders", new { area = "Admin" }, FormMethod.Post, new { @class = "form-modal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Order_Id" value="@Model.Id" />
                <input type="hidden" name="Email_Requestor" value="@Model.OrderRequestor.Email" />

                <p style="margin-bottom: 1em;">
                    <label for="IsWrongImages">
                        <input id="IsWrongImages" name="IsWrongImages" type="checkbox" value="true">
                        <input name="IsWrongImages" type="hidden" value="false">
                        Imagenes incorrectas.
                    </label>
                </p>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Comments">Comentarios</label>
                    <div class="col-md-10">
                        <textarea cols="20" data-val="true" data-val-required=" " id="Comments" name="Comments" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input id="btn-send" type="submit" class="btn btn-default bn_blue" value="Informar" />
                </div>
            }
        </div>
    </div>
</div>

