@using Limbs.Web.Common.Extensions
@using Limbs.Web.Entities.Models
@model OrderModel

<h3>Delivery</h3>
<table class="tabla_datos">
    @if (Model.DeliveryCourier == Courier.NoCourier)
    {
        <tr>
            <td>Tipo de entrega:</td>
            <td>@Model.DeliveryCourier.ToDescription()</td>
        </tr>
        if (Model.Status != OrderStatus.ArrangeDelivery && !User.IsInRole(AppRoles.Requester) && string.IsNullOrWhiteSpace(Model.ProofOfDelivery))
        {
            <tr>
                <td></td>
                <td>
                    <a href="@Url.Action("EditStatus", "Orders", new {area = "Admin", orderId = Model.Id, newStatus = OrderStatus.ArrangeDelivery})" class="bn_blue accion-pedido">Solicitar envío</a>
                    
                    <script type="text/javascript">
                        $(".accion-pedido").click(function(e) {
                            e.stopPropagation();
                            e.preventDefault();

                            $("body").append('<form action="' + e.target.href + '" method="post" id="tempform"></form>');
                            $("#tempform").submit();
                        });
                    </script>
                </td>
            </tr>
        }
        if(Model.Status == OrderStatus.ArrangeDelivery)
        {
            <tr>
                <td></td>
                <td><p>@Model.Status.ToDescription()</p></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>Courier:</td>
            <td>@Model.DeliveryCourier.ToDescription()</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.DeliveryTrackingCode)</td>
            <td>
                @if (!string.IsNullOrWhiteSpace(Model.DeliveryTrackingCode))
                {
                    @Model.DeliveryTrackingCode
                }
                else
                {
                    <text>No disponible.</text>
                }
            </td>
        </tr>
        if (!string.IsNullOrWhiteSpace(Model.DeliveryPostalLabel))
        {
            <tr>
                <td>@Html.DisplayNameFor(x => x.DeliveryPostalLabel):</td>
                <td>
                    <a href="@Model.DeliveryPostalLabel" target="_blank">Descargar</a>
                </td>
            </tr>
        }
    }
    <tr>
        <td colspan="2">
            @Html.Partial("Details/_ProofOfDelivery", Model)
        </td>
    </tr>
</table>