@using Limbs.Web.Resources
@using Limbs.Web.Common.Extensions
@using Limbs.Web.Entities.Models
@model OrderModel

<h1>@OrdersTexts._Header_h1:</h1>
<div id="estado_pedido">
    <p>@OrdersTexts._Header_state:</p>
    @if (TempData["Generating"] == null)
    {
        string statusDescription = string.Empty;

        <h2>
            @if (Model.Status == OrderStatus.Rejected && User.IsInRole(AppRoles.Requester))
            {
                statusDescription = OrderStatus.NotAssigned.ToDescription();
            } else
            {
                statusDescription = @Model.Status.ToDescription();
            }
            @statusDescription
            @if (Model.Status == OrderStatus.Pending)
            {
                <text>(</text>
                @(Model.Pieces.GetPercentage())<text>%)</text>
            }
        </h2>
    }
    else
    {
        <h2>@OrdersTexts._Header_Generating_h2</h2>
        <p style="color: red; font-size: 11px;">@OrdersTexts._Header_Generating_p1</p>
        <p style="color: red; font-size: 11px;">@OrdersTexts._Header_Generating_p2</p>
    }
</div>