@using Limbs.Web.Resources
@model Limbs.Web.Entities.Models.OrderModel

<h3>@OrdersTexts._Messages_h3</h3>
<div id="inbox">
    <p style="padding: 20px 0;">@OrdersTexts._Messages_loading...</p>
</div>

<script type="text/javascript">
    $(document).ready(getInbox);

    function getInbox() {
        var $dummy = $("<div>");
        $dummy.load("@Url.Action("InboxPartial", "Messages", new { orderId = Model.Id })", function(response, status, xhr) {
            var $container = $("#inbox");
            if (status !== "success") {
                $container.html("<p>@OrdersTexts._Messages_errorLoading_p1.</p><p>@OrdersTexts._Messages_errorLoading_p2 <a href='/Messages/'>@OrdersTexts._Messages_errorLoading_p3</a></p>");
            }
            else
            {
                $container.html($dummy.html());
            }
            $dummy.remove();
            setTimeout(getInbox, 5000);
        });
    }
</script>