@using Limbs.Web.Common.Extensions
@model Limbs.Web.Entities.Models.OrderModel

@{ 
    var cantImages = 0;
}

<h3>Datos del pedido</h3>
<table class="tabla_datos">
    <tr>
        <td>@Html.DisplayNameFor(x => x.AmputationType)</td>
        <td>@Html.DisplayFor(x => x.AmputationType)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.ProductType)</td>
        <td>@Html.DisplayFor(x => x.ProductType)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Sizes)</td>
        <td>
            @if (Model.Sizes != null)
            {
                <p>A: @(Model.Sizes.A)cm</p>
                <p>B: @(Model.Sizes.B)cm</p>
                <p>C: @(Model.Sizes.C)cm</p>
            }
            else
            {
                <p>No medido</p>
            }
        </td>
    </tr>

    <tr>
        <td>
            <p>
                @Html.DisplayNameFor(x => x.Color)
                <br />
                @Html.DescriptionFor(x => x.Color)
            </p>
        </td>
        <td><img src="/Content/img/Mano/mano_@(Model.Color).png" /></td>
    </tr>

    @if (!string.IsNullOrWhiteSpace(Model.Comments))
    {
        <tr>
            <td>@Html.DisplayNameFor(x => x.Comments)</td>
            <td>@Html.DisplayFor(x => x.Comments)</td>
        </tr>
    }
</table>
<hr />
<div class="form-group">
    <p class="form_title">Fotos</p>
    <div class="col-md-10">
        <div class="slideshow-container">
            @foreach (var image in (Model.IdImage).Split(','))
            {
                cantImages++;
                <div class="mySlides fade">
                    @*<div class="numbertext">1 / 3</div>*@
                    <img src="@image" style="width:100%">
                    @*<div class="text">Caption Text</div>*@
                </div>
            }
            @*<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>*@
        </div>
        <br>
        <!-- The dots/circles -->
        <div style="text-align:center">
            @if (cantImages > 1)
            {
                cantImages++;
                for (int i = 1; i < cantImages; i++)
                {
                    <span class="dot" onclick="currentSlide(@i)"></span>
                }
            }
        </div>
    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>