@using Limbs.Web.Resources
@using Limbs.Web.Common.Extensions
@using Limbs.Web.ViewModels

@model OrderDetailsViewModel

<h3>Datos del pedido</h3>
<table class="tabla_datos">
    <tr>
        <td>@Html.DisplayNameFor(x => x.AmputationType.Name)</td>
        <td>
            <img src="@Model.AmputationType.PrimaryUrlImage" alt="@Model.AmputationType.Description" title="@Model.AmputationType.Description" />
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.ProductType)</td>
        <td>@Html.DisplayFor(x => x.ProductType)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Sizes)</td>
        <td>
            @if (Model.Sizes != null)
            {
                <p>A: @(Model.Sizes.A)cm</p>
                <p>B: @(Model.Sizes.B)cm</p>
                <p>C: @(Model.Sizes.C)cm</p>
            }
            else
            {
                <p>@OrdersTexts._OrderInfo_sizeNull</p>
            }
        </td>
    </tr>

    <tr>
        @if (Model.HasDesign == false)
        {
            <td class="text-bold">Importante</td>
            <td class="text-danger">No tenemos diseño para la amputación seleccionada</td>
        }
        else
        {
            <td>
                <p>
                    @Html.DisplayNameFor(x => x.Color.Name)
                    <br />
                    @Html.DescriptionFor(x => x.Color.Name)
                </p>
            </td>
            if (Model.Color == null)
            {
                <td>Color no seleccionado</td>
            }
            else
            {
                <td><img src="@Model.Color.PrimaryUrlImage" alt="@Model.Color.Description" title="@Model.Color.Description" /></td>
            }            
        }
    </tr>

    @if (!string.IsNullOrWhiteSpace(Model.Comments))
    {
        <tr>
            <td>@Html.DisplayNameFor(x => x.Comments)</td>
            <td>@Html.DisplayFor(x => x.Comments)</td>
        </tr>
    }
</table>
<hr />

<div class="form-group">
    <p class="form_title">@OrdersTexts._OrderInfo_photos</p>
    <div class="slider">
        @foreach (var image in Model.Images)
        {
            <div class="slider-image-container">
                <img src="@image" />
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        var slider = $('.slider').bxSlider({
            pager: true,
            adaptiveHeight: true,
            touchEnabled: false
        });
    });
</script>