@using Limbs.Web.ViewModels
@using System.Linq;
@model OrderDetailsViewModel

<h3>Piezas impresas</h3>


@using (Html.BeginForm("PrintedPiecesUpdate", "Orders", new { orderId = Model.Id }, FormMethod.Post))
{
    <button type="submit" class="bn_blue">Actualizar</button>

    if (Model.RenderPiecesGroupBy != null && Model.RenderPiecesGroupBy.Any())
    {
        foreach (var groupBy in Model.RenderPiecesGroupBy)
        {
            <div class="pieces_row">
                <div class="cl_l">
                    <ul>
                        @foreach (var piece in groupBy.OrderRenderPieces)
                        {
                            <li>
                                <div class="cl_check">@Html.CheckBoxFor(model => piece.Printed)</div>
                                <p>
                                    <label for="@piece.PieceName">
                                        @piece.PieceName
                                    </label>
                                </p>
                            </li>
                        }
                    </ul>
                </div>
                <div class="cl_r">
                    <img src="@groupBy.Render.PrimaryUrlImage" alt="@groupBy.Render.Name" />
                </div>
            </div>
        }
    }
}