@using Limbs.Web.ViewModels
@model OrderDetailsViewModel
@using Limbs.Web.Resources


<h3>@OrdersTexts._PrintedPieces_h3</h3>

@using (Html.BeginForm("PrintedPiecesUpdate", "Orders", new { orderId = Model.Id }, FormMethod.Post))
{

    <button type="submit" class="bn_blue">@OrdersTexts._PrintedPieces_submitButton</button>

    if (Model.RenderPiecesGroupBy != null && Model.RenderPiecesGroupBy.Count > 0)
    {
        for (int i = 0; i < Model.RenderPiecesGroupBy.Count; i++)
        {
            <div class="pieces_row">
                <div class="cl_l">
                    <ul>
                        @for (int e = 0; e < Model.RenderPiecesGroupBy[i].OrderRenderPieces.Count; e++)
                        {
                            @Html.HiddenFor(model => Model.RenderPiecesGroupBy[i].OrderRenderPieces[e].Id)
                            @Html.HiddenFor(model => Model.RenderPiecesGroupBy[i].OrderRenderPieces[e].OrderId)
                            @Html.HiddenFor(model => Model.RenderPiecesGroupBy[i].OrderRenderPieces[e].RenderPieceId)

                            <li>
                                <div class="cl_check">@Html.CheckBoxFor(model => Model.RenderPiecesGroupBy[i].OrderRenderPieces[e].Printed)</div>
                                <p>
                                    <label for="@Model.RenderPiecesGroupBy[i].OrderRenderPieces[e].PieceName">
                                        @Model.RenderPiecesGroupBy[i].OrderRenderPieces[e].PieceName
                                    </label>
                                </p>
                            </li>
                        }
                    </ul>
                </div>
                <div class="cl_r">
                    <img src="@Model.RenderPiecesGroupBy[i].Render.PrimaryUrlImage" alt="@Model.RenderPiecesGroupBy[i].Render.Name" />
                </div>
            </div>
        }
    }
}