@model Limbs.Web.ViewModels.OrderDetailsViewModel
@using Limbs.Web.Resources


@if (string.IsNullOrWhiteSpace(Model.ProofOfDelivery))
{
    using (Html.BeginForm("UploadProofOfDelivery", "Orders", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div>
        
            @Html.ValidationSummary()

            <p>@OrdersTexts._ProofOfDelivery_ValidationSummary_p</p>

            <input type="hidden" name="orderId" value="@Model.Id"/>
            <input id="fileUpload" type="file" name="file" accept="image/*"/>
            <input id="enviar" type="submit" name="enviar" value="Subir foto" class="bn_blue">
        </div>
    }

    @section scripts
    {
        <script type="text/javascript">
            $("#fileUpload").bind("change",
                function () {
                    if (this.files[0].size > 1000000 * 5) {
                        alert("@OrdersTexts._ProofOfDelivery_fileUploadScript_alert");
                        this.value = null;
                    }
                });
        </script>
    }
}
else
{
    <div>
        <p>@Html.DisplayNameFor(x => x.ProofOfDelivery):</p>
        <br/>
        <img src="@Model.ProofOfDelivery"/>
    </div>
}