@using Limbs.Web.ViewModels
@using Limbs.Web.Entities.Models;
@model OrderDetailsViewModel

<h3>Datos del usuario</h3>
<table class="tabla_datos">
    <tr>
        <td>Nombre:</td>
        <td>@Model.OrderRequester.FullName</td>
    </tr>
    @if (User.IsInRole(AppRoles.Administrator))
    {
        <tr>
            <td>DNI o Pasaporte:</td>
            <td>@Model.OrderRequester.FullDni</td>
        </tr>
    }
    @if (!User.IsInRole(AppRoles.Ambassador))
    {
        <tr>
            <td>Email:</td>
            <td>@Model.OrderRequester.Email</td>
        </tr>
    }
    <tr>
        <td>Nacimiento:</td>
        <td>@Model.OrderRequester.Birth</td>
    </tr>
    <tr>
        <td>País:</td>
        <td>@Model.OrderRequester.Country</td>
    </tr>
    <tr>
        <td>Ciudad:</td>
        <td>@Model.OrderRequester.City</td>
    </tr>
    @if (!User.IsInRole(AppRoles.Ambassador))
    {
        <tr>
            <td>Dirección:</td>
            <td>@Model.OrderRequester.FullAddress</td>
        </tr>
        <tr>
            <td>Teléfono:</td>
            <td>@Model.OrderRequester.Phone</td>
        </tr>
    }
</table>