@model Limbs.Web.Entities.Models.OrderModel

<h3>Datos del usuario</h3>
<table class="tabla_datos">
    <tr>
        <td>Nombre:</td>
        <td>@Model.OrderRequestor.ResponsableName</td>
    </tr>
    <tr>
        <td>Apellido:</td>
        <td>@Model.OrderRequestor.ResponsableLastName</td>
    </tr>
    @if (!User.IsInRole(AppRoles.Ambassador))
    {
        <tr>
            <td>Email:</td>
            <td>@Model.OrderRequestor.Email</td>
        </tr>
    }
    <tr>
        <td>Nacimiento:</td>
        <td>@Model.OrderRequestor.Birth.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <td>País:</td>
        <td>@Model.OrderRequestor.Country</td>
    </tr>
    <tr>
        <td>Ciudad:</td>
        <td>@Model.OrderRequestor.City</td>
    </tr>
    @if (!User.IsInRole(AppRoles.Ambassador))
    {
        <tr>
            <td>Dirección:</td>
            <td>@Model.OrderRequestor.Address</td>
        </tr>
        <tr>
            <td>Teléfono:</td>
            <td>@Model.OrderRequestor.Phone</td>
        </tr>
    }
</table>