@using Limbs.Web.ViewModels
@using Limbs.Web.Entities.Models;
@using Limbs.Web.Resources

@model OrderDetailsViewModel

<h3>@OrdersTexts._UserInfo_h3</h3>
<table class="tabla_datos">
    <tr>
        <td>@OrdersTexts._UserInfo_Name:</td>
        <td>@Model.OrderRequester.FullName</td>
    </tr>
    @if (User.IsInRole(AppRoles.Administrator))
    {
        <tr>
            <td>@OrdersTexts._UserInfo_Name:</td>
            <td>@Model.OrderRequester.FullDni</td>
        </tr>
    }
    @if (!User.IsInRole(AppRoles.Ambassador))
    {
        <tr>
            <td>@OrdersTexts._UserInfo_Email:</td>
            <td>@Model.OrderRequester.Email</td>
        </tr>
    }
    <tr>
        <td>@OrdersTexts._UserInfo_Birth:</td>
        <td>@Model.OrderRequester.Birth</td>
    </tr>
    <tr>
        <td>@OrdersTexts._UserInfo_Country:</td>
        <td>@Model.OrderRequester.Country</td>
    </tr>
    <tr>
        <td>@OrdersTexts._UserInfo_City:</td>
        <td>@Model.OrderRequester.City</td>
    </tr>
    <tr>
        <td>@OrdersTexts._UserInfo_Address:</td>
        <td>@Model.OrderRequester.FullAddress</td>
    </tr>
    <tr>
        <td>@OrdersTexts._UserInfo_Phone:</td>
        <td>@Model.OrderRequester.Phone</td>
    </tr>
</table>