@using Limbs.Web.Resources
@using Limbs.Web.Entities.Models
@model OrderModel

<h3>@OrdersTexts._UserInfo_h3</h3>
<table class="tabla_datos">
    <tr>
        <td>@OrdersTexts._UserInfo_Name:</td>
        <td>@Model.OrderRequestor.FullName()</td>
    </tr>
    @if (User.IsInRole(AppRoles.Administrator))
    {
        <tr>
            <td>@OrdersTexts._UserInfo_Name:</td>
            <td>@Model.OrderRequestor.FullDni()</td>
        </tr>
    }
    @if (!User.IsInRole(AppRoles.Ambassador))
    {
        <tr>
            <td>@OrdersTexts._UserInfo_Email:</td>
            <td>@Model.OrderRequestor.Email</td>
        </tr>
    }
    <tr>
        <td>@OrdersTexts._UserInfo_Birth:</td>
        <td>@Model.OrderRequestor.Birth.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <td>@OrdersTexts._UserInfo_Country:</td>
        <td>@Model.OrderRequestor.Country</td>
    </tr>
    <tr>
        <td>@OrdersTexts._UserInfo_City:</td>
        <td>@Model.OrderRequestor.City</td>
    </tr>
    @if (!User.IsInRole(AppRoles.Ambassador))
    {
        <tr>
            <td>@OrdersTexts._UserInfo_Address:</td>
            <td>@Model.OrderRequestor.FullAddress()</td>
        </tr>
        <tr>
            <td>@OrdersTexts._UserInfo_Phone:</td>
            <td>@Model.OrderRequestor.Phone</td>
        </tr>
    }
</table>