@using Limbs.Web.Common.Extensions
@using Limbs.Web.Entities.Models
@model OrderModel
@{
    ViewBag.Title = "Detalles de pedido";
}

<article id="info_pedido">
    <div id="head_info">
        <h1>Solicitud:</h1>
        <div id="estado_pedido">
            <p>Estado:</p>
            <h2>@Model.Status.ToDescription()</h2>
        </div>
    </div>
    <div>
        @Html.Partial("Details/_Actions", Model)
    </div>
    <div class="flex_info">
        <div class="card card-l">
            @Html.Partial("Details/_OrderInfo", Model)
        </div>

        <div class="card card-l">
            @Html.Partial("Details/_UserInfo", Model)
        </div>

        @if (Model.Status == OrderStatus.Delivered || Model.Status == OrderStatus.Ready)
        {
            <div class="card card-l">
                @Html.Partial("Details/_DeliveryInfo", Model)
            </div>
        }
        @if (User.IsInRole(AppRoles.Administrator))
        {
            <div class="card card-l">
                @Html.Partial("Details/_AdminInfo", Model)
            </div>
        }
    </div>

</article>