@using Limbs.Web.Entities.Models
@model OrderModel
@{
    ViewBag.Title = "Detalles de pedido";
}

<link rel="stylesheet" href="~/Content/jquery.bxslider.min.css">

<article id="info_pedido">

    <div id="Header" class="head_info">
        @Html.Partial("Details/_Header", Model)
    </div>

    <div id="Actions">
        @Html.Partial("Details/_Actions", Model)
    </div>

    <div class="grid_pedidos">
        <div class="card card-l">
            @Html.Partial("Details/_OrderInfo", Model)
        </div>

        <div class="card card-l">
            @Html.Partial("Details/_UserInfo", Model)
        </div>

        @if (Model.Status == OrderStatus.Pending || Model.Status == OrderStatus.Ready || Model.Status == OrderStatus.ArrangeDelivery || Model.Status == OrderStatus.Delivered)
        {
            <div class="card card-l">
                @Html.Partial("Details/_Messages", Model)
            </div>
        }

        @if (Model.Status == OrderStatus.Delivered || Model.Status == OrderStatus.ArrangeDelivery || Model.Status == OrderStatus.Ready)
        {
            <div class="card card-l">
                @Html.Partial("Details/_DeliveryInfo", Model)
            </div>
        }
        @if (User.IsInRole(AppRoles.Administrator))
        {
            <div class="card card-l" style="width: auto;">
                @Html.Partial("Details/_AdminInfo", Model)
            </div>
        }
    </div>
    @if (!User.IsInRole(AppRoles.Requester) && Model.Status == OrderStatus.Pending)
    {
        <div class="cont-flex">
            <div class="cont-12">
                <div id="PrintedPieces" class="card printed_pieces_box">
                    @Html.Partial("Details/_PrintedPieces", Model)
                </div>
            </div>
        </div>


    }

</article>

<div id="loadingModal" style="display: none;">
    <div class="loader"></div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal" style="display: none;">
    <div class="limbs-modal-container">
        <!-- Modal content -->
        <div class="limbs-modal-header">
            <span id="close_modal" class="close">&times;</span>
            <h3>Informar datos incorrectos</h3>
        </div>
        <div class="limbs-modal-content">
            @using (Html.BeginForm("WrongInfo", "Orders", new { area = "Admin" }, FormMethod.Post, new { @class = "form-modal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Order_Id" value="@Model.Id" />
                <input type="hidden" name="Fullname_Requestor" value="@(Model.OrderRequestor.UserName + " " + Model.OrderRequestor.UserLastName)" />
                <input type="hidden" name="Email_Requestor" value="@Model.OrderRequestor.Email" />

                <p style="margin-bottom: 1em;">
                    <label for="IsWrongImages">
                        <input id="IsWrongImages" name="IsWrongImages" type="checkbox" value="true">
                        <input name="IsWrongImages" type="hidden" value="false">
                        Imagenes incorrectas.
                    </label>
                </p>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Comments">Comentarios</label>
                    <div class="col-md-10">
                        <textarea cols="20" data-val="true" data-val-required=" " id="Comments" name="Comments" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input id="btn-send" type="submit" class="btn btn-default bn_blue" value="Informar" />
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="@Url.Content("~/Scripts/pages/orders_actions.js")"></script>
    <script src="~/Scripts/jquery.bxslider.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('form', $("#PrintedPieces")).submit(function (e) {
                e.preventDefault();
                if ($(this).valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        beforeSend: function () {
                            $('#loadingModal').fadeIn();
                        },
                        success: function () {
                            $("#loadingModal").fadeOut();
                            updatePartial("Header");
                            updatePartial("Actions");
                        },
                        error: function () {
                            alert("error al guardar la información.");
                        }
                    });
                }
            });
            let grid_pedidos = $(".grid_pedidos").masonry({
                itemSelector: '.card'
            });
            $(".grid_pedidos .card").bind("DOMSubtreeModified", function () { $(grid_pedidos).masonry(); });
            grid_pedidos.imagesLoaded().progress(function () {
                $(grid_pedidos).masonry();
            });
        });

        function updatePartial(name) {
            var $dummy = $("<div>");
            $dummy.load("@Url.Action("GetPartial", "Orders", new { orderId = Model.Id })&partialName=" + name, function(response, status) {
                var $container = $("#" + name);
                if (status !== "success") {
                    //location.reload();
                }
                else
                {
                    $container.html($dummy.html());
                }
                $dummy.remove();
            });
        }
    </script>
}