@model Limbs.Web.Entities.Models.OrderModel

@section scripts
{
    <script src="~/Scripts/pages/orders.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('input[type=radio][name=AmputationType]').change(function () {
        });
    </script>
}
@{ 
    ViewBag.Title = "Pedido";
}
<div class="min_full" id="cuerpo_pedir">
    <article id="exp_inicial" class="card center-card-l">
        <h1>Nuevo pedido:</h1>

        @using (Html.BeginForm("ManoPedir", "Orders", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            @Html.AntiForgeryToken()
            <h2 class="f-titulo">Seleccioná tu amputación</h2>

            <p class="form_title">¿Qué tipo de amputación tenés?</p>
            <div id="tipo_de_amp">
                @Html.EditorFor(x => x.AmputationType)
                
                <div class="no-design" style="display: none;">
                    <h2>Importante</h2>
                    <p>
                        No tenemos diseño para la amputación seleccionada, pero no te preocupes, seguí con el pedido que te enviaremos un correo electrónico cuando lo desarrollemos. 
                    </p>
                </div>
            </div>
            <p>
                @Html.ValidationMessageFor(x => x.AmputationType)
            </p>

            <p class="form_title">¿De qué lado?</p>
            <div class="select_brazo">
                @Html.EditorFor(x => x.ProductType)
            </div>
            <p>
                @Html.ValidationMessageFor(x => x.ProductType)
            </p>
            <div>
                <input id="enviar" type="submit" value="Siguiente" class="bn_blue" onclick="this.form.submit(); this.disabled=true;">
            </div>
        }
    </article>
</div>
<script>
    function select_amp(obj) {
        var $obj = $(obj);
        $('.selector_amp').removeClass('amp_selected');
        $obj.addClass('amp_selected');
        var radio = $obj.find('input')[0];
        $(radio).prop('checked', true);
        if (radio.value === "A" || radio.value === "B" || radio.value === "G" || radio.value === "H") {
            $(".no-design").show();
        } else {
            $(".no-design").hide();
        }
    }
</script>