@model Limbs.Web.Entities.Models.OrderModel

@section scripts
{
    <script src="~/Scripts/pages/orders.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('input[type=radio][name=AmputationType]').change(function () {
            if (this.value === "A" || this.value === "B" || this.value === "G" || this.value === "H") {
                $(".no-design").show();
            } else {
                $(".no-design").hide();
            }
        });
    </script>
}
@{ 
    ViewBag.Title = "Pedido";
}
<div class="min_full" id="cuerpo_pedir">
    <article id="exp_inicial">
        <h1>Nuevo pedido:</h1>

        @using (Html.BeginForm("ManoPedir", "Orders", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            @Html.AntiForgeryToken()
            <h2 class="f-titulo">Seleccioná tu amputación</h2>
            <div>
                @Html.EditorFor(x => x.ProductType)
            </div>
            <p>
                @Html.ValidationMessageFor(x => x.ProductType)
            </p>
            <div id="tipo_de_amp">
                @Html.EditorFor(x => x.AmputationType)
                
                <div class="no-design" style="display: none;">
                    <h2 class="f-titulo" style="background: red;">Importante</h2>
                    <p style="color: red;text-align: center; margin: 10px 20px;">
                        No tenemos diseño para la amputación seleccionada, pero no te preocupes, seguí con el pedido que te enviaremos un correo electrónico cuando lo desarrollemos. 
                    </p>
                </div>
            </div>
            <p>
                @Html.ValidationMessageFor(x => x.AmputationType)
            </p>
            <div>
                <input id="enviar" type="submit" value="Siguiente" class="bn_blue" onclick="this.form.submit(); this.disabled=true;">
            </div>
        }
    </article>
</div>