@model Limbs.Web.ViewModels.NewOrder
@using Limbs.Web.Resources


@{
    ViewBag.Title = OrdersTexts.ManoImagen_ViewBag_title;
}

@section scripts
{
    <script src="~/Scripts/pages/orders.js"></script>
    <script src="~/Scripts/pages/uploadImage.js"></script>
    <script src="~/Scripts/dropzone.js"></script>
    <link rel="stylesheet" href="~/Content/basic.css">
    <link rel="stylesheet" href="~/Content/dropzone.css">
}


<div class="min_full" id="cuerpo_pedir">
    <article id="exp_inicial" class="mano card center-card-l">
        <div class="form_main_title">
            <p class="step">3</p>
            <div>
                <p class="title">
                    @OrdersTexts.ManoImagen_title
                </p>
            </div>
        </div>
        <p id="bajada_exp">@OrdersTexts.ManoImagen_bajada_exp</p>
        <div id="recomendaciones_foto">
            <div class="card requisitos">
                <div>
                    <p>@OrdersTexts.ManoImagen_Requisitos</p>
                </div>
                <div>
                    <ul>
                        <li>@OrdersTexts.ManoImagen_Req1</li>
                        <li>@OrdersTexts.ManoImagen_Req2</li>
                        <li>@OrdersTexts.ManoImagen_Req3</li>
                        <li>@OrdersTexts.ManoImagen_Req4</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ejemplos_carga">
            <div id="ej_si" class="ej_exp card">
                <p class="azulAtomicTx">@OrdersTexts.ManoImagen_ej_si</p>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div id="ej_no" class="ej_exp card">
                <p>@OrdersTexts.ManoImagen_ej_no</p>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div>
            @using (Html.BeginForm("UploadImageUser", "Orders", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone", @id = "formManoMedidas" }))
            {
                <span id="msgManoImagen" style="color:blue;"></span>
                <ul id="msgErrorManoImagen" style="color:red;"></ul>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.HiddenFor(x => x.AmputationTypeFkId)
                @Html.HiddenFor(x => x.ProductType)
                @Html.HiddenFor(x => x.HasDesign)
            }
            <button id="enviar" name="enviar" class="bn_blue" onclick="this.form.submit(); this.disabled=true;">@OrdersTexts.ManoImagen_enviarButton</button>
       </div>
    </article>
</div>
