@using Limbs.Web.Resources
@{
    ViewBag.Title = HelpTexts.Pedir_ViewBag_Title;
}

<div class="help-pedirunaprotesis">
    <div class="content">
        <h2>@HelpTexts.Pedir_h2</h2>
        <p>@HelpTexts.Pedir_p1<br />@HelpTexts.Pedir_p2</p>
        <div class="pregunta">
            <p>@HelpTexts.Pedir_Pregunta</p>
            <div class="opciones-cuenta">
                <a class="opcion" href="@Url.Action("Login", "Account")"><p>@HelpTexts.Pedir_UrlActionLogin</p><div></div></a>
                <a class="opcion" href="@Url.Action("Register", "Account")"><p>@HelpTexts.Pedir_UrlActionRegister</p><div></div></a>
            </div>
        </div>
    </div>
</div>

