@using Limbs.Web.Common.Extensions
@using System.Linq
@model List<Limbs.Web.ViewModels.EventViewModel>

@{
    ViewBag.Title = "Eventos";
}

<h2>Eventos</h2>

<table>
    <tr>
        <th>
            Tipo de Evento
        </th>
        <th>
            Titulo
        </th>
        <th>
            Fecha de Inicio
        </th>
        <th>
            Fecha de Finalizacion
        </th>
        <th>
           Cantidad de Participantes
        </th>
        <th>
            Acciones
        </th>
    </tr>
    @foreach (var oneEvent in Model)
    {
        <tr>
            <td>
                @oneEvent.EventTypeName
            </td>
            <td>
                @oneEvent.Title
            </td>
            <td>
                @oneEvent.StartDate
            </td>
            <td>
                @oneEvent.EndDate
            </td>
            <td>
                @oneEvent.CountParticipants
            </td>
            <td>
                <p>@Html.ActionLink("Ver Ordenes", "GetOrders", new { id = oneEvent.Id, area = "Admin" })</p>
                <p>@Html.ActionLink("Ver Sponsors", "GetSponsorsByEventId", "Sponsors", new { id = oneEvent.Id }, null)</p>
            </td>
        </tr>
    }
</table>