
@{
    ViewBag.Title = "Admin Panel";
}

    <div class="title-admin">
        <h2>Panel de admin</h2><span class="limbs-version">V2.0</span>
    </div>

<style>
    .title-admin h2 {
        margin-right:.5em;
    }
    .title-admin h2, .title-admin span.limbs-version {
        display: inline-block;
    }
    .title-admin span.limbs-version {
        padding: .25em .5em;
        background-color: #28a745;
        color: white;
    }
</style>

<ul style="padding:50px 0;">
    <li>@Html.ActionLink("Pedidos", "Index", new  { controller = "Orders", area = "Admin" } )</li>
    <li>@Html.ActionLink("Requesters", "Index", new { controller = "Users", area = "Admin" })</li>
    <li>@Html.ActionLink("Embajadores", "Index", new { controller = "Ambassadors", area = "Admin" })</li>
    <li>
        @Html.ActionLink("Reportes", "Index", new {controller = "Report", area = "Admin"})
        <ul>
            <li>
                @Html.ActionLink("DelayedOrders", "DelayedOrders", new { controller = "Report", area = "Admin" })
            </li>
            <li>
                @Html.ActionLink("Errors", "Errors", new { controller = "Report", area = "Admin" })
            </li>
        </ul>
    </li>
</ul>
