@model Limbs.Web.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    var authenticationDescriptions = loginProviders as AuthenticationDescription[] ?? loginProviders.ToArray();
    if (!authenticationDescriptions.Any()) {
        <div>
            <p>
                Error.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            
            foreach (AuthenticationDescription p in authenticationDescriptions) {
                <button class="ing-btn ing-@p.Caption.ToLowerInvariant()" type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Ingresa con tu cuenta de @p.Caption">Ingresar con @p.Caption</button>
            }
        }
    }
}
