@using Limbs.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Ingresar";
}

<div>
    <div>
        <div>
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
        <div>
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
        {
                    @Html.AntiForgeryToken()
                    <h4>¿No tenes Facebook?</h4>
                    @Html.ValidationSummary(true, "", new { })
                    <div class="campos_l">
                        @Html.LabelFor(m => m.Email, new { })
                            @Html.TextBoxFor(m => m.Email, new { })
                            @Html.ValidationMessageFor(m => m.Email, "", new { })
                    </div>
                    <div class="campos_l">
                        @Html.LabelFor(m => m.Password, new { })
                        @Html.PasswordFor(m => m.Password, new { })
                        @Html.ValidationMessageFor(m => m.Password, "", new { })
                    </div>
                            <input type="submit" value="Ingresar"/>
                                <p id="cerrar-login" onclick="cerrar_login()">
                        Atrás
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
    </div>
</div>