@model Limbs.Web.Entities.WebModels.ResetPasswordViewModel

<div id="cont" class="min_full">
    <div id="cont-form">
        <div class="inicio-form-r">
            <h4>@Limbs.Web.Resources.AccountTexts.ResetPasswordConfirmation_inicio_form_r_h4</h4>
        </div>
        <div class="cont_regis">

            <p id="post-form-ini">

                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email)
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-regis" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Password)
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "input-regis" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ConfirmPassword)
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-regis" })
                        </div>
                    </div>
                    <br />
                <p>
                    <button type="submit" class="bn_blue">@Limbs.Web.Resources.AccountTexts.ResetPassword_SubmitButtonValue</button>
                </p>
            }
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }