<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Limbs - Atomic Lab</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
@if (Request.IsAuthenticated)
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Colores", "Index", "Colors")</li>
                        <li>@Html.ActionLink("Accesorios", "Index", "Accessory")</li>
                        <li>@Html.ActionLink("Ordenes", "Index", "Order")</li>
                        <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>
                        <li>@Html.ActionLink("Archivos", "Index", "Files")</li>
                        <li>@Html.ActionLink("Productos", "Index", "Products")</li>
                    }
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
}
<div class="container body-content">
    @RenderBody()
    <hr/>
    @*<footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>*@
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryui")
@RenderSection("scripts", required: false)
   
</body>
</html>
