@using Limbs.Web.Entities.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(string.IsNullOrWhiteSpace(ViewBag.Title) ? "" : $"{ViewBag.Title} - ") Limbs | Atomic Lab</title>
    <meta charset="utf-8">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/functions.js")
    @if (User.IsInRole(AppRoles.Administrator)) { <link href="/Content/admin.css" rel="stylesheet" type="text/css" /> }
    <script src="~/Scripts/menu.js"></script>
    
    <link rel="shortcut icon" type="image/x-icon" href="/Content/img/favicon.ico"/>
    <script src="/Scripts/menu-login.js"></script>
    <meta property="og:title" content="Limbs | Atomic Lab">
    <meta property="og:type" content="Website">
    <meta property="og:image" content="/Content/img/fondo_ini.jpg">
    <meta property="og:site_name" content="Limbs">
    <meta property="og:description" content="Desde Limbs - un proyecto de Atomic Lab - creemos que todos deben tener su mano impresa en 3D.">
    <!--end social meta-->
    <meta name="description" content="Desde Limbs, una plataforma de Atomic Lab, creemos que todos deben tener su mano impresa en 3D.">
</head>
<body>
@RenderPage("Header.cshtml")
<div class="container body-content">
    <div class="min_full">
        <div class="cont-wr">
            @RenderBody()
        </div>
    </div>
    @RenderPage("Footer.cshtml")
</div>

@Scripts.Render("~/bundles/jqueryui")
@RenderSection("scripts", false)
@Html.Partial("_GoogleAnalytics")
    <div id="alertAtomic" style="display: none;"></div>
    
</body>
</html>