@using Limbs.Web.Resources
@using Microsoft.AspNet.Identity
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = SharedTexts.Error_ViegBag_Title;
}

@Facebook.DisplayFacebookChat()

<h1 class="text-danger">@SharedTexts.Error_ViegBag_Title! :(</h1>

@{
    if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <h2 class="text-danger">@SharedTexts.Error_text_danger_h2</h2>
    }
    else
    {
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    }
}

@if (Model != null)
{
    <div style="font-size: 11px; margin-top: 100px;">
        <h3 onclick="$('#errorinfo li').show();">@SharedTexts.Error_errorInfo</h3>
        <ul id="errorinfo" style="list-style: none;">
            <li>@SharedTexts.Error_ViegBag_Title: @Model.Exception.Message</li>
            <li>ActionName: @Model.ActionName</li>
            <li>ControllerName: @Model.ControllerName</li>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <li>@SharedTexts.Error_User: @Context.User.Identity.GetUserName()</li>
            }
            <li>@SharedTexts.Error_moreInfo: @(Model.Exception.InnerException?.Message)</li>
            <li style="display: none;">@SharedTexts.Error_moreInfo: @Model.Exception.StackTrace</li>
        </ul>
    </div>
    <span style="clear: both;"></span>
}