@using Microsoft.AspNet.Identity
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error! :(</h1>

@{
    if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
<h2 class="text-danger">@Html.Raw(Limbs.Web.Common.Resources.LimbsResources.ErrorTitle1)</h2>
    }
    else
    {
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    }
}

@if (Model != null)
{
    <div style="font-size: 11px; margin-top: 100px;">
        <h3 onclick="$('#errorinfo li').show();">@Html.Raw(Limbs.Web.Common.Resources.LimbsResources.ErrorTitle2)</h3>
        <ul id="errorinfo" style="list-style: none;">
            <li>Error: @Model.Exception.Message</li>
            <li>ActionName: @Model.ActionName</li>
            <li>ControllerName: @Model.ControllerName</li>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <li>User: @Context.User.Identity.GetUserName()</li>
            }
            <li>Mas info: @(Model.Exception.InnerException?.Message)</li>
            <li style="display: none;">Mas info: @Model.Exception.StackTrace</li>
        </ul>
    </div>
    <span style="clear: both;"></span>
}