<footer class="footer-distributed" style="background: #33383b;clear: both;">
    <div class="footer-left">
        <h3><span>Atomic Lab</span></h3>
        <p class="footer-company-about">
            @Html.Raw(Limbs.Web.Common.Resources.LimbsResources.FooterText1)
        </p>
        <p class="footer-company-name">Limbs - Atomic Lab &copy; @DateTime.UtcNow.Year</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Parque Patricios</span>Buenos Aires, Argentina</p>
        </div>
        <div>
            <i class="fa fa-globe"></i>
            <p><a href="http://www.atomiclab.org">www.atomiclab.org</a></p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:info@atomiclab.org">info@atomiclab.org</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>@Html.Raw(Limbs.Web.Common.Resources.LimbsResources.FooterText2)</span>
            @Html.Raw(Limbs.Web.Common.Resources.LimbsResources.FooterText3)
        </p>
        <div class="footer-icons">
            <a href="http://www.facebook.com/TheAtomicLab"><i class="fa fa-facebook"></i></a>
            <a href="http://www.twitter.com/TheAtomicLab"><i class="fa fa-twitter"></i></a>
            <a href="http://www.instagram.com/TheAtomicLab"><i class="fa fa-instagram"></i></a>
        </div>
        <p><div class="footer-company-about"> @Html.Raw(Limbs.Web.Common.Resources.LimbsResources.FooterText4) <a href="https://goo.gl/forms/08M0ysXh75FK8r2I3" target="_blank">@Html.Raw(Limbs.Web.Common.Resources.LimbsResources.FooterTextLink)</a> @Html.Raw(Limbs.Web.Common.Resources.LimbsResources.FooterText5)</div></pfooter-company-about>
    </div>
</footer>