@using Limbs.Web.Resources
<footer class="footer-distributed" style="background: #33383b;clear: both;">
    <div class="footer-left">
        <h3><span>Atomic Lab</span></h3>
        <p class="footer-company-about">
            @SharedTexts.Footer_footer_company_about
        </p>
        <p class="footer-company-name">Limbs - Atomic Lab &copy; @DateTime.UtcNow.Year</p>
        <p>
            <ul class="languagepicker roundborders large">
                <li>@SharedTexts.Footer_Language</li>
                <a href="/?lang=es"><li><img src="http://i68.tinypic.com/avo5ky.png" />Español</li></a>
                <a href="/?lang=en"><li><img src="http://i64.tinypic.com/fd60km.png" />English</li></a>
            </ul>
        </p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Parque Patricios</span>Buenos Aires, Argentina</p>
        </div>
        <div>
            <i class="fa fa-globe"></i>
            <p><a href="http://www.atomiclab.org">www.atomiclab.org</a></p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:info@atomiclab.org">info@atomiclab.org</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>@SharedTexts.Footer_SocialMedia_span</span>
            @SharedTexts.Footer_SocialMedia_p
        </p>
        <div class="footer-icons">
            <a href="http://www.facebook.com/TheAtomicLab"><i class="fa fa-facebook"></i></a>
            <a href="http://www.twitter.com/TheAtomicLab"><i class="fa fa-twitter"></i></a>
            <a href="http://www.instagram.com/TheAtomicLab"><i class="fa fa-instagram"></i></a>
        </div>
        <p><div class="footer-company-about"> @SharedTexts.Footer_ReportError1 <a href="https://goo.gl/forms/08M0ysXh75FK8r2I3" target="_blank">@SharedTexts.Footer_ReportError_Link</a> @SharedTexts.Footer_ReportError2</div></pfooter-company-about>
    </div>
</footer>