@using System.Configuration
@using Limbs.Web.Entities.Models
<header>
    <div id="main_head">
        <a href="/">
            <img id="logo_head" src="/Content/img/limbs_white.svg">
            @if (Request.IsLocal) { <span style="position: absolute; left: 0; color: burlywood;">DEV</span> }
            @if (!string.IsNullOrWhiteSpace(ConfigurationManager.AppSettings["Environment"])){ <span style="position: absolute; left: 0; color: burlywood; top: 15px;">@ConfigurationManager.AppSettings["Environment"]</span> }
        </a>
        <nav>
            <ul>
                <li>
                    <a onclick="cerrarmenu()" href="/">Inicio</a>
                </li>
                @if (User.IsInRole(AppRoles.Requester))
                {
                    <li>
                        <a onclick="cerrarmenu()" href="@Url.Action("ManoPedir", "Orders")">Pedir una mano</a>
                    </li>
                }
                <li>
                    <a onclick="cerrarmenu()" href="@Url.Action("QueEsLimbs", "StaticContent")" target="_blank">¿Qué es Limbs?</a>
                </li>
                <li>
                    <a onclick="cerrarmenu()" href="@Url.Action("Donar","StaticContent")" target="_blank">Donar</a>
                </li>
                
                @Html.Partial("AdminMenu")
            </ul>
        </nav>
        <img src="/Content/img/menu.svg" id="menu_mobil" onclick="abrirmenu()">
    </div>
    @Html.Partial("_LoginPartial")
</header>