@using Limbs.Web.Resources
@using System.Configuration
@using Limbs.Web.Entities.Models
<header>
    <div id="main_head">
        <a href="/">
            <img id="logo_head" src="/Content/img/limbs_white.svg">
            @if (Request.IsLocal)
            {<span style="position: absolute; left: 0; color: burlywood;">DEV</span>}
            @if (!string.IsNullOrWhiteSpace(ConfigurationManager.AppSettings["Environment"]))
            {<span style="position: absolute; left: 0; color: burlywood; top: 15px;">@ConfigurationManager.AppSettings["Environment"]</span>}
        </a>
        <nav>
            <ul>
                <li>
                    <a onclick="cerrarmenu()" href="/">@SharedTexts.Header_home</a>
                </li>
                @if (!Request.IsAuthenticated)
                {
                    <li class="mobile_menu_only">
                        <a onclick="cerrarmenu()" href="@Url.Action("Login", "Account")">@SharedTexts.Header_LoginUrlAction</a>
                    </li>
                    <li class="mobile_menu_only">
                        <a onclick="cerrarmenu()" href="@Url.Action("Register", "Account")">@SharedTexts.Header_RegisterUrlAction</a>
                    </li>
                    <li>
                        <a name="manoPedir" onclick="cerrarmenu()" href="@Url.Action("Pedir", "Help")">@SharedTexts.Header_PedirUrlAction</a>
                    </li>
                }
                @if (User.IsInRole(AppRoles.Requester))
                {
                    <li>
                        <a name="manoPedir" onclick="cerrarmenu()" href="@Url.Action("ManoPedir", "Orders")">@SharedTexts.Header_PedirUrlAction</a>
                    </li>
                }
                @if (User.IsInRole(AppRoles.Ambassador))
                {
                    <li>
                        <a name="comunidad" onclick="cerrarmenu()" href="http://facebook.com/groups/AtomicLabEmbajadores" target="_blank">@SharedTexts.Header_Comunidad</a>
                    </li>

                    <li>
                        <a name="manual" onclick="cerrarmenu()" href="http://atomiclab.org/limbs/ambassadors/manual" target="_blank">@SharedTexts.Header_Manual</a>
                    </li>
                }
                <li>
                    @Html.ActionLink("Preguntas frecuentes", "faq", "StaticContent", null, null, null, null, null)
                </li>
                <li>
                    <a onclick="cerrarmenu()" href="@Url.Action("Donar","StaticContent")" target="_blank">@SharedTexts.Header_Donar</a>
                </li>
                <li>
                    <a style="background-color: #f44336;" onclick="cerrarmenu()" href="@Url.Action("Create","Covid")">COVID-19</a>
                </li>
                @Html.Partial("AdminMenu")
            </ul>
        </nav>
        <img src="/Content/img/menu.svg" id="menu_mobil" onclick="abrirmenu()">
    </div>
    @Html.Partial("_LoginPartial")
</header>