@using Limbs.Web.Extensions
@using Limbs.Web.Models
@model IEnumerable<OrderModel>

@{
    ViewBag.Title = "Pedidos";
}

<h2>Pedidos</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            E-mail solicitante
        </th>
        <th>
            Embajador
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", new {id = item.Id})">
                    @Html.DisplayFor(modelItem => item.Id)
                </a>
            </td>
            <td class="@item.Status">
                @item.Status.ToDescription()
                @if (item.Status == OrderStatus.Ready)
                {
                    <span> - @item.DeliveryCourier.ToDescription() (@Html.ActionLink("cambiar", "SelectDelivery", new { idOrder = item.Id }))</span>
                }
            </td>
            <td>
                @item.Date.ToFriendlyDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderRequestor.Email)
            </td>
            <td>
                @if (item.OrderAmbassador != null)
                {
                    @Html.DisplayFor(modelItem => item.OrderAmbassador.Email)
                    <span>(@Html.ActionLink("re-asignar", "SelectAmbassador", new { idOrder = item.Id }))</span>
                }
                else
                {
                    <span>No asignado (@Html.ActionLink("asignar", "SelectAmbassador", new { idOrder = item.Id }))</span>
                }

            </td>
        </tr>
    }

</table>