@using Limbs.Web.Common.Extensions
@using Limbs.Web.Entities.Models
@model IEnumerable<OrderModel>

@{
    ViewBag.Title = "Pedidos";
}

<h2>Pedidos</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            E-mail solicitante
        </th>
        <th>
            Embajador
        </th>
        <th>
            Acciones
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", new {id = item.Id})">
                    @Html.DisplayFor(modelItem => item.Id)
                </a>
            </td>
            <td class="@item.Status">
                @if (string.IsNullOrWhiteSpace(item.FileUrl))
                {
                    <text>[ARCHIVO NO GENERADO!]</text><br/>
                }
                @item.Status.ToDescription()
                @if (item.Status == OrderStatus.Pending)
                {
                    <text>(</text>@(item.Pieces.GetPercentage())<text>%)</text>
                }
                @if (item.Status == OrderStatus.Ready || item.Status == OrderStatus.ArrangeDelivery)
                {
                    <span> - @item.DeliveryCourier.ToDescription() (@Html.ActionLink("cambiar", "SelectDelivery", new {idOrder = item.Id}))</span>
                }
                @if (string.IsNullOrWhiteSpace(item.ProofOfDelivery) &&
                     (item.Status == OrderStatus.Ready || item.Status == OrderStatus.ArrangeDelivery || item.Status == OrderStatus.Delivered))
                {
                    <span>(sin prueba de entrega)</span>
                }
            </td>
            <td>
                @item.Date.ToFriendlyDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderRequestor.Email)
            </td>
            <td>
                @if (item.OrderAmbassador != null)
                {
                    @Html.DisplayFor(modelItem => item.OrderAmbassador.Email)
                    if (item.Status != OrderStatus.Ready && item.Status != OrderStatus.ArrangeDelivery && item.Status != OrderStatus.Delivered)
                    {
                        <span>(@Html.ActionLink("re-asignar", "SelectAmbassador", new { idOrder = item.Id }))</span>
                    }
                }
                else
                {
                    <span>No asignado (@Html.ActionLink("asignar", "SelectAmbassador", new { idOrder = item.Id }))</span>
                }

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, area = "Admin" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id, area = "Admin" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id, area = "Admin" })
            </td>
        </tr>
    }

</table>