@model Limbs.Web.Entities.Models.OrderModel

@section scripts
{
    <script src="~/Scripts/pages/orders.js"></script>
}

@using (Html.BeginForm("AssignDelivery", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Seleccione metodo de envío</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryCourier, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryCourier, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeliveryCourier, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryTrackingCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryTrackingCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryPostalLabel, htmlAttributes: new { @class = "control-label col-md-2" })  (opcional):
            @Html.DisplayFor(x => x.DeliveryPostalLabel)
            <div class="col-md-10">
                @if (!string.IsNullOrWhiteSpace(Model.DeliveryPostalLabel))
                {
                    <p>REEMPLAZA EL ARCHIVO ANTERIOR</p>
                }
                <input id="fileUpload" type="file" name="file"/>
                @Html.ValidationMessageFor(model => model.DeliveryPostalLabel, "", new {@class = "text-danger"})
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
