@using Limbs.Web.Common.Extensions
@model Limbs.Web.Areas.Admin.Models.AssignOrderAmbassadorViewModel

<h2>Asignar embajador al pedido @Model.Order.Id</h2>


<table>
    @foreach (var item in Model.AmbassadorList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item1.AmbassadorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item1.Email)
            </td>
            <td>
                a @(item.Item2.ToFriendlyDistanceString()) del solicitante
            </td>
            <td>
                @Html.ActionLink("Asignar", "AssignAmbassador", new { idOrder = Model.Order.Id, id = item.Item1.Id })
            </td>
        </tr>
    }
</table>
