@using Limbs.Web.Entities.Models
@using Microsoft.AspNet.Identity
@model MessageModel
@{
    var cl = MessageStatus.Read;
    var cll = "ToHim";

    if (Model.To.Id == User.Identity.GetUserId() && Model.Status == MessageStatus.Unread)
    {
        cl = MessageStatus.Unread;
    }
    if (Model.To.Id == User.Identity.GetUserId())
    {
        cll = "ToMe";
    }
}
<div class="message-item card @cl @cll" data-status="@Model.Status" data-id="@Model.Id">
    <div class="msg-content">
        <div class="content">
            <span>
                @Html.DisplayFor(model => model.Content)
            </span>
        </div>
        <span class="date">
            @Html.DisplayFor(model => model.Time, "ToFriendlyDateString")
        </span>
    </div>
</div>