@model IEnumerable<Limbs.Web.Entities.Models.MessageModel>

@if (Model.Any())
{
    <table class="table-items table-mensajes">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="message @item.Status.ToString().ToLowerInvariant()" onclick="location.href='@Url.Action("Details", "Messages", new {id = item.Id})'">
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time, "ToFriendlyDateString")
                </td>
                <td>
                    @Html.ActionLink("Borrar", "Delete", new {id = item.Id}, new { @class = "bn_delete" })
                </td>
            </tr>
        }

    </table>
}
else
{
    <p style="padding: 20px 0;">No tenés mensajes.</p>
}