@using Limbs.Web.Entities.Models
@model MessageModel

@using (Html.BeginForm("Reply", "Messages", FormMethod.Post, new { id = "reply-form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden(Html.NameFor(x => x.PreviousMessage.Id).ToString(), Model.Id)
    @Html.Hidden(Html.NameFor(x => x.From.Id).ToString(), Model.From.Id)
    @Html.Hidden(Html.NameFor(x => x.To.Id).ToString(), Model.To.Id)

    <div class="ch_action_cont">
        @Html.TextBoxFor(model => (new MessageModel()).Content, null, new { autocomplete = "off" })
        <button type="submit" value="Enviar"></button>
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
    </div>
}
