@using Limbs.Web.Entities.Models
@using Microsoft.AspNet.Identity
@model MessageModel
@{
    var to = Model.To.Email;
    if (User.IsInRole(AppRoles.Administrator))
    {
        to += $" - {Model.From.Email}";
    }
    if (to == User.Identity.GetUserName())
    {
        to = Model.From.Email;
    }
    ViewBag.Title = "Mensajes";
}

<div class="chatbox min_full">
<div class="ch_header">
    <div class="ch_header_cont">
        <h2 class="ch_to">@(to)</h2>
        @if (Model.Order != null)
        {
            <a href="@Url.Action("Details", "Orders", new { id = Model.Order.Id })" class="bn_blue">Ir al pedido</a>
        }
    </div>
</div>
<div class="messages-details">
    <div class="messages">
        <ul id="messages" style="display: none;"></ul>
    </div>

    <div class="reply">
        @using (Html.BeginForm("Create", "Messages", FormMethod.Post, new { id = "reply-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Order.Id)
            @Html.Hidden(Html.NameFor(x => x.From.Id).ToString(), Model.From.Id)
            @Html.Hidden(Html.NameFor(x => x.To.Id).ToString(), Model.To.Id)

            <div>
                @Html.TextBoxFor(model => (new MessageModel()).Content, null, new { autocomplete = "off" })
                <button type="submit" value="Enviar"></button>
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        }
    </div>
</div>
</div>

@section styles
{
    <link href="/Content/chatbox.css" rel="stylesheet" type="text/css" />
}
@section scripts
{
    <script type="text/javascript">
        $("form#reply-form").submit(function () {
            $("button[type=submit]").addClass("sending").attr("disabled", "disabled");
        });
    </script>
}
