@using Limbs.Web.Entities.Models
@using Limbs.Web.Resources
@model Limbs.Web.Entities.WebModels.IndexViewModel

<div id="accion_pedido">
    @if (User.IsInRole(AppRoles.Ambassador))
    {
        <a href="@Url.Action("Edit", "Ambassador", new {area = ""})" class="bn_blue">@ManageTexts.Actions_EditUrlAction</a>
    }
    @if (User.IsInRole(AppRoles.Requester))
    {
        <a href="@Url.Action("Edit", "Users", new {area = ""})" class="bn_blue">@ManageTexts.Actions_EditUrlAction</a>
    }
    <a href="@Url.Action("Index", "Messages", new {area = ""})" class="bn_blue">@ManageTexts.Actions_MessagesUrlAction</a>
    @if (Model.HasPassword)
    {
        <a href="@Url.Action("ChangePassword", "Manage", new {area = ""})" class="bn_blue">@ManageTexts.Actions_ChangePasswordUrlAction</a>
    }
    else
    {
        <div style="display: inline;">
            <a href="@Url.Action("SetPassword", "Manage", new { area = "" })" class="bn_blue">@ManageTexts.Actions_SetPasswordUrlAction</a>
            <span style="font-size: 8px;">@ManageTexts.Actions_SetPasswordUrlAction_span</span>
        </div>
    }
</div>

@*Html.ActionLink("Manage", "ManageLogins")*@