@using Limbs.Web.Resources
@model Limbs.Web.Entities.WebModels.UserViewModel


<table class="tabla_datos">
    <tr>
        <td>@ManageTexts._UserInfo_Name:</td>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <td>@ManageTexts._UserInfo_LastName:</td>
        <td>@Model.UserLastName</td>
    </tr>
    <tr>
        <td>@ManageTexts._UserInfo_Email:</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>@ManageTexts._UserInfo_Birth:</td>
        <td>@Model.Birth.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <td>@ManageTexts._UserInfo_Country:</td>
        <td>@Model.Country</td>
    </tr>
    <tr>
        <td>@ManageTexts._UserInfo_City:</td>
        <td>@Model.City</td>
    </tr>
    <tr>
        <td>@ManageTexts._UserInfo_Address:</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>@ManageTexts._UserInfo_Phone:</td>
        <td>@Model.Phone</td>
    </tr>
</table>