@using Microsoft.AspNet.Identity
@model Limbs.Web.Models.UserModel
<head>
    <script src="~/Scripts/geo.js"></script>
    <script src="~/Scripts/pages/users.js"></script>
</head>

<div id="cont" class="min_full">
    <article id="registro">

        <form class="form" method="post" action="#">

            <div class="form-title-row">
                <h1>¡Registrate a la plataforma Limbs como usuario!</h1>
            </div>

            <div class="header_registro">
                Datos Personales
            </div><hr color="#f2f2f2">

            <div class="form-row">
                <label>
                    <span>
                        Nombre del usuario:
                    </span>
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "Adulto Responsable" } })
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>
                        Apellido del usuario:
                    </span>
                    @Html.EditorFor(model => model.UserLastName, new { htmlAttributes = new { placeholder = "Adulto Responsable" } })
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>
                        Nombre del adulto
                        :
                    </span>
                    @Html.EditorFor(model => model.ResponsableName, new { htmlAttributes = new { placeholder = "Adulto Responsable" } })
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>
                        Apellido del adulto
                    </span>
                    @Html.EditorFor(model => model.ResponsableLastName, new { htmlAttributes = new { placeholder = "Adulto Responsable" } })
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Telefono:</span>
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { placeholder = "Telefono" } })
                </label>
            </div>

            <br><hr color="#f2f2f2">

            <div class="form-row">
                <label>
                    <span>Fecha de nacimiento del usuario de la prótesis:</span>
                    @Html.EditorFor(model => model.Birth)
                    <input type="date" name="fecha" step="1" min="1990-01-01" max="2017-12-31" value="2017-05-11"
                </label>
            </div>

            <br><hr color="#f2f2f2">

            <div class="form-row">
                <label>
                    <span>Sexo del usuario de la prótesis:</span>

                    @Html.DropDownList("MyType",
                            EnumHelper.GetSelectList(typeof(Limbs.Web.Models.Gender)))

                    </select>
                </label>
            </div>

            <br><hr color="#f2f2f2">

            <div class="form-row">
                <label>
                    <span>País</span>
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { placeholder = "¿Dónde vive el usuario?" } })
                </label>
                <label>
                    <span>Ciudad</span>
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { placeholder = "¿Dónde vive el usuario?" } })
                </label>
                <label>
                    <span>Dirección</span>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { placeholder = "¿Dónde vive el usuario?" } })
                </label>
            </div>
            <button type="submit" class="blue_button" style="margin-top:10px;" id="checkAddress">Actualizar mapa</button>
            <div id="map"></div>


            <br><hr color="#f2f2f2">

            <div class="form-row">
                <label>
                    <span>Documento de identidad o pasaporte del usuario de la prótesis:</span>
                    @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { placeholder = "D.N.I. del usuario" } })
                </label>
            </div>

            <br><hr color="#f2f2f2">

            <div class="form-row">
                <label class="form-checkbox">
                    <span>El pequeño super heroe necesita:</span>
                    <ul class="form_regis_radio">
                        <li>Mano @Html.RadioButtonFor(model => model.ProthesisType, "Hand")</li>
                        <li>Brazo @Html.RadioButtonFor(model => model.ProductType, "Arm")</li>
                    </ul>
                </label>
            </div>
            <div class="form-row">
                <label class="form-checkbox">
                    <span>¿Cual?</span>
                    <ul class="form_regis_radio">
                        <li>Derecha @Html.RadioButtonFor(model => model.ProductType, "Right")</li>
                        <li>Izquierda @Html.RadioButtonFor(model => model.ProductType, "Left")</li>
                        <li>Ambas @Html.RadioButtonFor(model => model.ProductType, "Both")</li>
                    </ul>
                </label>
            </div>

            <br><hr color="#f2f2f2">

            <div class="header_registro">
                ¡Sobre la Prótesis!
            </div><hr color="#f2f2f2">

            <div class="form-row">
                <label>
                    <p>¿Que impresión 3D necesitarías? A continuación le presentamos distintos tipos de amputaciones, por favor, seleccione al final de las imágenes, la letra que identifica a la más parecida de su amputación.</p>
                    <br><hr color="#f2f2f2">

                    <div class="form-row">
                        <label>
                            <span>¿Cual es tu amputación?</span>
                            <select name="dropdown">
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                                <option>E</option>
                                <option>F</option>
                                <option>G</option>
                                <option>H</option>
                            </select>
                        </label>
                    </div>
                </label>
            </div>

            <br><hr color="#f2f2f2">

            <div class="form-row">
                <button type="submit" class="blue_button">Registrarse como usuario</button>
            </div>

        </form>

    </article>

</div>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: { lat: 40.731, lng: -73.997 }
        });
        var geocoder = new google.maps.Geocoder;
        var infowindow = new google.maps.InfoWindow;
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwDPOhcUy7GhHc4RhteO1vVxpgo7ynl6Q&callback=initMap">
</script>
<script src="~/Scripts/menu.js"></script>
<script src="~/Scripts/menu.js"></script>
