@using Limbs.Web.Resources
@using Limbs.Web.Common.Extensions
@using Limbs.Web.Entities.Models
@model Limbs.Web.ViewModels.UserPanelViewModel
@{
    var o = new OrderModel();
    ViewBag.Title = UsersTexts.Index_ViewBag_Title;
}

<div id="cont" class="min_full">
    <article id="home">

        <a name="btn_pedir" class="bn_blue" @(Model.IsValidAge ? "" : "style= pointer-events:none;background:#cad4e2;border-color:#cad4e2;'") href="@Url.Action("ManoPedir", "Orders")">@UsersTexts.Index_ManoPedirUrlAction</a>
        @if (!Model.IsValidAge)
        {
            <div class="no-design">
                <h2 class="f-titulo" style="background: red;">    @UsersTexts.Index_NotValidAge_h2</h2>
                <p style="color: red;text-align: center; margin: 10px 20px;">
                    @UsersTexts.Index_NotValidAge_p
                </p>
            </div>
        }

        @if (Model.Message != null)
        {
            <p>@Html.DisplayFor(modelOrder => Model.Message)</p>
        }
        
        @if (Model.Order != null)
        {
            <h3 class="titleHome">@UsersTexts.Index_Orders_h3</h3>
            <div class="pedidosActivos">
                @foreach (var order in Model.Order)
                {
                    <a href="@(Url.Action("Details", "Orders", new { id = order.Id }))" class="orderLinkCont">
                        <div class="orderContainer card" js_orderStatus="@(order.Status == OrderStatus.Rejected ? OrderStatus.NotAssigned : order.Status)">
                            <div class="headerOrder">
                                <h2>@UsersTexts.Index_headerOrder_Number@Html.DisplayFor(modelOrder => order.Id)</h2><p>@UsersTexts.Index_headerOrder_Created @Html.DisplayFor(x => order.Date, "ToFriendlyDateString")</p>
                            </div>
                            <div class="statusDescription">
                                @if (order.Status == OrderStatus.NotAssigned || order.Status == OrderStatus.Rejected)
                                {
                                    <h3>@UsersTexts.Index_OrderStatus_NotAssigned_h3</h3>
                                    <p>@UsersTexts.Index_OrderStatus_NotAssigned_p</p>
                                }
                                @if (order.Status == OrderStatus.PreAssigned)
                                {
                                    <h3>@UsersTexts.Index_OrderStatus_PreAssigned_h3</h3>
                                    <p>@UsersTexts.Index_OrderStatus_PreAssigned_p</p>
                                }
                                @if (order.Status == OrderStatus.Pending || order.Status == OrderStatus.Ready)
                                {
                                    <h3>@UsersTexts.Index_OrderStatus_Pending_h3</h3>
                                    <p>@UsersTexts.Index_OrderStatus_Pending_p</p>
                                }
                                @if (order.Status == OrderStatus.ArrangeDelivery)
                                {
                                    <h3>@UsersTexts.Index_OrderStatus_ArrangeDelivery_h3</h3>
                                    <p>@UsersTexts.Index_OrderStatus_ArrangeDelivery_p</p>
                                }
                                @if (order.Status == OrderStatus.Delivered)
                                {
                                    <h3>@UsersTexts.Index_OrderStatus_Delivered_h3</h3>
                                }
                            </div>
                            <div class="pedidoLinea">
                                <div class="puntosContainer"></div>
                                <div class="labelsContainer"></div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <script>
                var pedidoStrings = {
                    'NotAssigned': 'Pedido creado',
                    'PreAssigned': 'Asignado',
                    'Pending': 'Imprimiendo',
                    'ArrangeDelivery': 'Enviado',
                    'Delivered': 'Entregado'
                }
                $('.orderContainer').each(function (k, o) {
                    var estadoPedido = $(o).attr('js_orderStatus');
                    console.log(estadoPedido);
                    estadoPedido = estadoPedido == 'Ready' ? 'Pending' : estadoPedido;
                    var pasado = false;
                    var contadorPos = 0;
                    $.each(pedidoStrings, function (key, obj) {
                        var htmlLinea = key == 'NotAssigned' ? '' : '<div class="linea"></div>';
                        var classPasado = pasado == false ? ' estadoPasado' : '';
                        var posleft = 25 * contadorPos;
                        var htmlPunto = '<div class="contenedorLinea ' + key + classPasado + '" style="left: ' + posleft + '%;">' + htmlLinea + '<div class="circulo"></div></div>';
                        $(o).find('.puntosContainer').append(htmlPunto);
                        var classLabelPresente = '';
                        if (estadoPedido == key) {
                            pasado = true;
                            classLabelPresente = ' labelPresente'
                        }
                        $(o).find('.labelsContainer').append('<p class="ordersLabels ' + key + classLabelPresente + '" style="left: ' + posleft + '%;">' + obj + '</p>');
                        contadorPos++;
                    });
                });
            </script>
        }
        else
        {
            <p>@UsersTexts.Index_NotOrders</p>
        }
    </article>


</div>