@using Limbs.Web.Common.Extensions
@using Limbs.Web.Entities.Models
@model Limbs.Web.ViewModels.UserPanelViewModel
@{
    var o = new OrderModel();
    ViewBag.Title = "Panel usuario";
}

<div id="cont" class="min_full">
    <article id="home">

        <h1>Hola @Model.UserName</h1>

        <a name="btn_pedir" class="bn_blue" @(Model.IsValidAge ? "" : "style= pointer-events:none;background:#cad4e2;border-color:#cad4e2;'") href="@Url.Action("ManoPedir", "Orders")">Pedir una mano</a>

        @if (!Model.IsValidAge)
        {
            <div class="no-design">
                <h2 class="f-titulo" style="background: red;">    Podrás pedir la mano recién cuando el usuario cumpla 4 años de edad</h2>
                <p style="color: red;text-align: center; margin: 10px 20px;">
                    Nuestra experiencia luego de varios años diseñando, imprimiendo y probando manos mecánicas 3D, nos dejan en claro que las mismas no se recomiendan bajo ningún concepto para que sean utilizadas por menores de 4 años.
                    Por diferentes motivos, las personas no tienen el desarrollo mínimo para usar y ser conscientes de la mano mecánica, la misma requiere de un aprendizaje que no es posible lograr a esa edad, y genera más frustraciones que alegrías.
                </p>
            </div>
        }

        @if (Model.Message != null)
        {
            <p>@Html.DisplayFor(modelOrder => Model.Message)</p>
        }
        @if (Model.Order != null)
        {
            <article id="tus_pedidos">
                <h2>Tus pedidos:</h2>
                <table>
                    <tr>
                        <th>@Html.DisplayNameFor(x => o.Id)</th>
                        <th>@Html.DisplayNameFor(x => o.OrderAmbassador.AmbassadorName) embajador</th>
                        <th>@Html.DisplayNameFor(x => o.Date)</th>
                        <th>@Html.DisplayNameFor(x => o.StatusLastUpdated)</th>
                        <th>@Html.DisplayNameFor(x => o.Status)</th>
                    </tr>
                    @foreach (var order in Model.Order)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(order.Id.ToString(), "Details", new { controller = "Orders", id = order.Id })
                            </td>
                            <td>
                                @if (OrderStatus.Pending.Equals(order.Status)
             || OrderStatus.Ready.Equals(order.Status)
             || OrderStatus.ArrangeDelivery.Equals(order.Status)
             || OrderStatus.Delivered.Equals(order.Status))
                                {
                                    @Html.DisplayFor(modelOrder => order.OrderAmbassador.AmbassadorName)
                                }
                                else
                                {
                                    <text>No asignado</text>
                                }
                            </td>
                            <td>
                                @*@Html.DisplayFor(x => order.Date, "ToFriendlyDateString")*@
                                @Html.DisplayFor(x => order.Date, "ToFriendlyDateString")
                            </td>
                            <td>
                                @Html.DisplayFor(x => order.StatusLastUpdated, "ToFriendlyDateString")
                            </td>
                            <td>
                                @order.Status.ToDescription()
                                @if (order.Status == OrderStatus.Pending)
                                {
                                    <text>(</text>@(order.Pieces.GetPercentage())<text>%)</text>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </article>
        }
        else
        {
            <p>No tienes pedidos asignados</p>
        }
    </article>


</div>