@using Limbs.Web.Extensions
@using Limbs.Web.Models
@model Limbs.Web.ViewModels.UserPanelViewModel

@{
    ViewBag.Title = "Panel usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="cont" class="min_full">
    <article id="home">
        
        <h1>Hola @User.Identity.Name</h1>

        <a class="blue_button" href="@Url.Action("ManoPedir", "Orders")">Pedir una mano</a>
        
        @if (Model.Message != null)
        {
            <p>@Html.DisplayFor(modelOrder => Model.Message)</p>
        }
        @if (Model.Order != null)
        {
            <article id="tus_pedidos">
                <h2>Tus pedidos:</h2>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Fecha de solicitud</th>
                        <th>Embajador</th>
                        <th>Estado</th>
                    </tr>
                    @foreach (var order in Model.Order)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(order.Id.ToString(), "Details", new { controller = "Orders", id = order.Id })
                            </td>
                            <td>
                                <span title="@order.Date.ToString("f")">
                                    @order.Date.ToFriendlyDateString()
                                </span>
                            </td>
                            <td>
                                @if (OrderStatus.Pending.Equals(order.Status)
                                    || OrderStatus.Ready.Equals(order.Status)
                                    || OrderStatus.Delivered.Equals(order.Status))
                                {
                                    @Html.DisplayFor(modelOrder => order.OrderAmbassador.AmbassadorName)
                                }
                            </td>
                            <td>
                                @order.Status.ToDescription()
                            </td>
                        </tr>
                    }
                </table>
            </article>
        }
        else
        {
            <p>No tienes pedidos asignados</p>
        }
        @if (!Model.PointIsValid)
        {
            <p>Por favor modifique su dirección ya que no es valida.</p>
        }
    </article>

</div>
<script src="/Scripts/menu.js"></script>