@using Microsoft.AspNet.Identity
@model Limbs.Web.Models.UserModel
<head>
    <script src="~/Scripts/geo.js"></script>
    <script src="~/Scripts/pages/users.js"></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            position: absolute;
            height: 25%;
            width: 35%;
        }
    </style>
</head>

    <div id="cont" class="min_full">
        <article id="registro">

            <form class="form" method="post" action="#">

                <div class="form-title-row">
                    <h1>¡Registrate a la plataforma Limbs como usuario!</h1>
                </div>

                <div class="header_registro">
                    Datos Personales
                </div><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <span>Nombre completo del adulto 
                        :</span>
                        @Html.EditorFor(model => model.ResponsableName, new { htmlAttributes = new { placeholder = "Adulto Responsable" } })
                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <span>Nombre completo del usuario de la protesis:</span>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "¡Nombre del usuario super heroe!" } })
                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <span>Correo electrónico:</span>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @Value = User.Identity.GetUserName() } })
  
                    </label>
                </div>

                <div class="form-row">
                    <label>
                        <span>Telefono:</span>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { placeholder = "Telefono" } })
                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <span>Fecha de nacimiento del usuario de la prótesis:</span>
                        @Html.EditorFor(model => model.Birth)
                        <input type="date" name="fecha" step="1" min="1990-01-01" max="2017-12-31" value="2017-05-11"
                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <span>Sexo del usuario de la prótesis:</span>

                            @Html.DropDownList("MyType",
                            EnumHelper.GetSelectList(typeof(Limbs.Web.Models.Gender)))

                        </select>
                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <span>¿Donde vives?</span>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { placeholder = "¿Dónde vive el usuario?" } })
                      </label>
                </div>

                <div id="map"></div>
                <button type="submit" id="checkAddress">Check address</button>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <span>Documento de identidad o pasaporte del usuario de la prótesis:</span>
                        @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { placeholder = "D.N.I. del usuario" } })
                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <label class="form-checkbox">
                        <span>El pequeño super heroe necesita:</span>
                        Mano: @Html.RadioButtonFor(model => model.ProthesisType, "Hand")
                        Brazo: @Html.RadioButtonFor(model => model.ProductType, "Arm")

                    </label>
                </div>
                <div class="form-row">
                    <label class="form-checkbox">
                        <span>¿Cual?</span>
                        Derecha: @Html.RadioButtonFor(model => model.ProductType, "Right")
                        Izquierda: @Html.RadioButtonFor(model => model.ProductType, "Left")
                        Ambas: @Html.RadioButtonFor(model => model.ProductType, "Both")
                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="header_registro">
                    ¡Sobre la Prótesis!
                </div><hr color="#f2f2f2">

                <div class="form-row">
                    <label>
                        <p>¿Que impresión 3D necesitarías? A continuación le presentamos distintos tipos de amputaciones, por favor, seleccione al final de las imágenes, la letra que identifica a la más parecida de su amputación.</p>
                        <br><hr color="#f2f2f2">
                        @Html.EditorFor(model => model.AmputationType)
                        <span>(A) Perdí UNA falange de cualquier dedo.</span>
                        <p><img src="img/registro/falange1.png" class="img-responsive" width="300"></p>
                        <span>(B) Perdí DOS falanges de cualquier dedo.</span>
                        <p><img src="img/registro/falanges2.png" class="img-responsive" width="300"></p>
                        <span>(C) Perdí mis cuatro dedos y tengo un pulgar.</span>
                        <p><img src="img/registro/cuatrodedos.png" class="img-responsive" width="300"></p>
                        <span>(D) Perdí el pulgar y no tengo los dedos (Poseo hueso Carpal).</span>
                        <p><img src="img/registro/sindedos.png" class="img-responsive" width="300"></p>
                        <span>(E) Perdí la mano, no tengo muñeca. (Poseo hueso cúbito y radio pero no carpal).</span>
                        <p><img src="img/registro/sinmano.png" class="img-responsive" width="300"></p>
                        <span>(F) Tengo un muñón a partir del codo y tengo un antebrazo desarrollado (Huesos Cúbito y Radio presente).</span>
                        <p><img src="img/registro/antebrazo.png" class="img-responsive" width="300"></p>
                        <span>(G) Perdí el codo y tengo el húmero.</span>
                        <p><img src="img/registro/sincodo.png" class="img-responsive" width="300"></p>
                        <span>(H) Tengo el húmero pero muy poco desarrollado.</span>
                        <p><img src="img/registro/hombro.png" class="img-responsive" width="300"></p>

                        <div class="form-row">
                            <label>
                                <span>¿Cual es tu amputación?</span>
                                <select name="dropdown">
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                    <option>E</option>
                                    <option>F</option>
                                    <option>G</option>
                                    <option>H</option>
                                </select>
                            </label>
                        </div>
                    </label>
                </div>

                <br><hr color="#f2f2f2">

                <div class="form-row">
                    <button type="submit" class="blue_button">Registrarse como usuario</button>
                </div>

            </form>

        </article>

    </div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: {lat: 40.731, lng: -73.997}
        });
        var geocoder = new google.maps.Geocoder;
        var infowindow = new google.maps.InfoWindow;
      }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwDPOhcUy7GhHc4RhteO1vVxpgo7ynl6Q&callback=initMap">
    </script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/menu.js"></script>
